* {
  margin: 0;
  padding: 0;
}
.nav {
  display: block;
  /* height: 30px; */
  width: 100%;
  background-color: #eeeeee;
  /* margin-bottom: 5px; */
}
.info_soft {
  width: 100%;
  background-color: #e1e1e1;
  font-size: 20px;
}
.info_soft span {
  display: block;
  float: left;
  /* height: 30px; */
  /* width: 150px; */
  /* border-right: 1px solid #38f; */
  background-color: #e1e1e1;
  /* border: 1px solid #e1e1e1; */
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  margin-left: 30px;
  padding-right: 10px;
  text-align: center;
}
/* .nav span {
  display: block;
  float: left;
  height: 30px;
  width: 150px;
  background-color: #e1e1e1;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  padding-right: 10px;
  text-align: center;
} */
a {
  color: #000;
}
a:hover {
  color: #38f;
}
.midselect {
  display: block;
}
.midselect {
  /* height: 50px; */
  width: 100%;
  /* margin-top: 5px; */
  border-top: 1px solid gray;
  background-color: #e1e1e1;
}
.midselect span {
  display: block;
  float: left;
  height: 30px;

  /* border-right: 1px solid #38f; */
  background-color: #e1e1e1;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  /* margin-left: 30px; */
  padding-right: 10px;
  text-align: center;
}
.table-box {
  margin-top: 0px;
  width: 100%;
}

/* 滚动条宽度 */
::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

/* 滚动条颜色 */
::-webkit-scrollbar-thumb {
  background-color: #27314d;
}

table {
  float: left;
  width: 74%;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-right: 0px;
}

table caption {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

table th,
table td {
  height: 50px;
  text-align: center;
  border: 1px solid gray;
}

table thead {
  color: #575757;
  background-color: #e0e2df;
}

tbody {
  display: block;
  width: calc(100% + 15px); /*这里的8px是 /*这里的8px是滚动条的宽度*/
  height: 500px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 12px;
}

table thead tr,
table tbody tr,
table tfoot tr {
  box-sizing: border-box;
  table-layout: fixed;
  display: table;
  width: 100%;
}

table tbody tr {
  background: #fefefe;
}

table tbody tr td {
  border-bottom: none;
}
table tbody tr:last-child td {
  border-bottom: 1px solid gray;
}
.rightbox {
  float: right;
  height: 450px;
  width: 25%;
  /* background-color: blue; */
  margin-left: 0px;
  border: 1px solid #38f;
}
.clearfix:after {
  content: '020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}

.baocuo {
  height: 150px;
  /* background-color: blue; */
  border-bottom: 1px solid #38f;
}
.baocuo_title {
  font-size: 24px;
  color: #38f;
  text-align: center;
  margin-left: 50px;
}
.btn_select {
  height: 70px;
}
.btn_select button {
  width: 40%;
  margin-left: 10px;
  height: 30px;
  border-radius: 10px;
}
.undo {
  display: block;
  height: 30px;
  width: 30px;
  background: url(../images/undo.png) no-repeat;
  background-size: 100%;
  float: left;
  margin-left: 20px;
}
.select_redo {
  display: block;
  float: left;
  height: 30px;
  width: 50px;
  line-height: 30px;
  margin-left: 80px;
}
.file_select {
  height: 150px;
  /* background-color: blue; */
  border-bottom: 1px solid #38f;
}
.file_span {
  display: block;
  font-size: 24px;
  color: #38f;
  text-align: center;
}
input {
  width: 50px;
}
.input_select {
  float: left;
  margin-top: 20px;
}
.btn_confirm {
  margin-top: 20px;
  margin-left: 50px;
  width: 50px;
  border-radius: 3px;
}
.history_select {
  margin-top: 20px;
  height: 150px;
}
.history_select input {
  width: 70%;
  margin-top: 5px;
  margin-left: 20px;
}
.btn_history {
  display: block;
  float: right;
  margin-left: 20px;
  height: 30px;
  width: 50px;
  border-color: #38f;
  border-radius: 5px;
}
.yubaohuo {
  width: 500px;
  height: 300px;
  position: absolute;
  background-color: #b5e61d;
  top: 30%;
  left: 30%;
}
.jixing_baohuo {
  height: 70px;
}
.jixing_input {
  float: left;
  margin-top: 20px;
}
.input_span input {
  width: 100px;
  margin-left: 5px;
}

.piliangcheci {
  float: left;
  display: block;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: 80px;
  background-color: #00a2e8;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
}
.res_date input {
  width: 150px;
  margin-top: 10px;
}
.baohuo_text {
  width: 80%;
  display: block;
}
.shenhe_div {
  height: 30px;
}
.shenhe_div input {
  width: 60px;
  margin-left: 100px;
}
.btn_last {
  height: 60px;
}
.btn_last span {
  width: 80px;
  height: 30px;
  border: 1px solid #000;
  background-color: #00a2e8;
  float: left;
  margin-left: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
}
.btn_baohuo {
  float: left;
  background-color: #00a2e8;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  display: block;
  position: relative;
  float: left;
  height: 30px;
  border-right: 1px;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
.show_time {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  background-color: #aca0a0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.nav_div {
  float: left;
  height: 30px;
  border-right: 1px;
  font-size: 30px;
  line-height: 30px;
  height: 30px;
  width: 150px;
  background-color: #eeeeee;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  padding-right: 10px;
  text-align: center;
}
.dropdown-content a {
  display: block;
  text-decoration: none;
  height: 30px;
  font-size: 20px;
  line-height: 20px;
  height: 30px;
  width: 150px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #000;
  box-sizing: border-box;

  /* padding-right: 10px; */
  text-align: center;
}
.dropdown-content a:hover,
.dropdown-content a:link,
.dropdown-content a:visited,
.dropdown-content a:active,
.dropdown-content a:focus {
  color: #000;
  text-decoration: none;
}
#show_execl {
  position: absolute;

  top: 45%;
  left: 45%;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 200px;
  border: 1px solid #38f;
  display: none;
  background-color: #38f;
  color: white;
}
#show_execl a,
#show_execl span {
  display: block;
  color: white;
}
.select_span {
  width: 40px;
}
.timeformat {
  width: 130px;
}
.uploadformat {
  width: 130px;
}
