<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/allrecord.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <title>莱杰轨道全程记录</title>
  </head>
  <body>
    <div class="select_nav">
      <button>五步闸分析</button>
      <button>监控换装控制</button>
      <button>整备调车安全</button>
      <button onclick="quxian(this.id)" th:id="${fileid}">曲线记录</button>
    </div>
    <div>
      <table cellpadding="0" cellspacing="0" id = "table_quancheng">
        <thead>
          <tr>
            <th>序号</th>
            <th style="width: 100px">事件</th>
            <th style="width: 100px">时间</th>
            <th style="width: 100px">公里标</th>
            <th style="width: 100px">其它</th>
            <th>距离</th>
            <th>信号机</th>
            <th>信号</th>
            <th>速度</th>
            <th>限速</th>
            <th>零位</th>
            <th>牵引</th>
            <th>前后</th>
            <th>管压</th>
            <th>缸压</th>
            <th style="width: 50px">转速电流</th>
            <th>均缸1</th>
            <th>均缸2</th>
          </tr>
        </thead>

        <tbody id = "tbody_quancheng">
          <tr th:each="quancheng,indexState :${quanChengs}" class="tr_quancheng" th:id="tr+${quancheng.xuHao}">
            <td>[[${quancheng.xuHao}]]</td>
            <td style="width: 100px">[[${quancheng.event}]]</td>
            <td class="timeformat" style="width: 100px">[[${times[indexState.index]}]]</td>
            <td style="width: 100px">[[${quancheng.gongLiBiao}]]</td>
            <td style="width: 100px">[[${quancheng.other}]]</td>
            <td>[[${quancheng.distance}]]</td>
            <td>[[${quancheng.signalMachine}]]</td>
            <td>[[${quancheng.xinHao}]]</td>
            <td>[[${quancheng.speed}]]</td>
            <td>[[${quancheng.restrictSpeed}]]</td>
            <td>[[${quancheng.lingWei}]]</td>
            <td>[[${quancheng.qianYin}]]</td>
            <td>[[${quancheng.qianHou}]]</td>
            <td>[[${quancheng.guanYa}]]</td>
            <td>[[${quancheng.gangYa}]]</td>
            <td style="width: 50px">[[${quancheng.zhuanSuDianLiu}]]</td>
            <td>[[${quancheng.junGang1}]]</td>
            <td>[[${quancheng.junGang2}]]</td>
          </tr>
        </tbody>
      </table>
      <div class="rightbox">
        <div class="file_news">
          <div class="file_info">文件信息</div>
          <span class="left_info">司机</span
          ><span class="right_info">[[${fileInfo.siJiName}]]</span>
          <span class="left_info">副司机</span
          ><span class="right_info">[[${fileInfo.fuSiJiName}]]</span>
          <span class="left_info" >开车时间</span
          ><span class="right_info" id="startTime">[[${fileInfo.fileStartTime}]]</span>

          <span class="left_info">机型</span
          ><span class="right_info">[[${fileInfo.jiXing}]]</span>
          <span class="left_info">车次</span
          ><span class="right_info">[[${fileInfo.cheCi}]]</span>
          <span class="left_info">起点站</span
          ><span class="right_info">[[${fileInfo.startStation}]]</span>

          <span class="left_info">机车号</span
          ><span class="right_info">[[${fileInfo.jiCheHao}]]</span>
          <span class="left_info">交路号</span
          ><span class="right_info">[[${fileInfo.jiaoLuHao}]]</span>

          <span class="left_info">计长</span>
          <span class="right_info">[[${fileInfo.jiChang}]]</span>
        </div>
        <div class="error_analyis">
          <div class="file_info">项点分析指向</div>
          <div class="error_td">
            <span>I端</span>
            <span onclick="step(1,1)" class="changeColor">第1步</span>
            <span onclick="step(2,2)" class="changeColor">第2步</span>
            <span onclick="step(3,3)" class="changeColor">第3步</span>
            <span onclick="step(4,4)" class="changeColor">第4步</span>
            <span onclick="step(5,5)" class="changeColor">第5步</span>
            <span onclick="step(3,6)" class="changeColor">第6步</span>
            <span onclick="step(4,7)" class="changeColor">第7步</span>


          </div>
          <span style="display: block; height: 20px">
                <span
                        style="
                    float: left;
                    height: 0px;
                    width: 0px;
                    border-right: 10px solid #7f7f7f;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                  "
                ></span>
                <span
                        style="
                    float: left;
                    height: 10px;
                    width: calc(100% - 10px);
                    text-align: center;
                    line-height: 15px;
                    background-color: #7f7f7f;
                    margin-top: 5px;
                  "
                ></span>
              </span>
          <div class="error_td">
            <span>II端</span>
            <span onclick="step(1,8)" class="changeColor">第1步</span>
            <span onclick="step(2,9)" class="changeColor">第2步</span>
            <span onclick="step(3,10)" class="changeColor">第3步</span>
            <span onclick="step(4,11)" class="changeColor">第4步</span>
            <span onclick="step(5,12)" class="changeColor">第5步</span>
            <span onclick="step(3,13)" class="changeColor">第6步</span>
            <span onclick="step(4,14)" class="changeColor">第7步</span>


          </div>
          <div class="quxian">
            <div class="all_xiangdian">
              <div class="error_td1">
                <span>I端</span>
                <span  onclick="stepxiangdian(1,15)" class="changeColor">第1报错</span>
                <span onclick="stepxiangdian(2,16)" class="changeColor">第2报错</span>
                <span onclick="stepxiangdian(3,17)" class="changeColor">第3报错</span>
                <span onclick="stepxiangdian(4,18)" class="changeColor">第4报错</span>

              </div>
              <span style="display: block; height: 20px">
                <span
                        style="
                    float: left;
                    height: 0px;
                    width: 0px;
                    border-right: 10px solid #7f7f7f;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                  "
                ></span>
                <span
                        style="
                    float: left;
                    height: 10px;
                    width: calc(100% - 10px);
                    text-align: center;
                    line-height: 15px;
                    background-color: #7f7f7f;
                    margin-top: 5px;
                  "
                ></span>
              </span>
              <div class="error_td1">
                <span>II端</span>
                <span  onclick="stepxiangdian(1,19)" class="changeColor">第1报错</span>
                <span onclick="stepxiangdian(2,20)" class="changeColor">第2报错</span>
                <span onclick="stepxiangdian(3,21)" class="changeColor">第3报错</span>
                <span onclick="stepxiangdian(4,22)" class="changeColor">第4报错</span>
              </div>
            </div>
            <div style="float: left; width: 20%; height: 80px">
              <div onclick="returnquxian(this.id)" th:id="${fileInfo.id}" class="recorder_quxian">曲线记录</div>
              <div onclick="returnindex()"  class="recorder_quxian">返回</div>

            </div>
          </div>
        </div>
        <div class="error_menthod">
          <div class="file_info">分析说明</div>

          <textarea  name="" id="baocuoduice" cols="30" rows="10"></textarea>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" th:inline="javascript">
    var  changeColor = document.getElementsByClassName("changeColor")
    // for (let i = 0;i<changeColor.length;i++){
    //
    //   changeColor[i].onclick = function (){
    //     console.log("=====")
    //     for (let j = 0;j<changeColor.length;j++){
    //
    //       if (j!=i){
    //         changeColor[j].style.backgroundColor = 'transparent'
    //       }else {
    //         changeColor[j].style.backgroundColor = '#aca1a1'
    //       }
    //     }
    //
    //   }
    // }
    window.onload = function(){
      //当用户点击项点错误的时候，跳转到
      var step_jump = [[${step}]]
      if (step_jump!=null){
        var start = step_jump.startXiangDian
        var  end = step_jump.endXiangDian

        var tr = document.getElementsByClassName('tr_quancheng')

        var biaoji = start-10

        var $objTr = $("#tr"+biaoji); //找到要定位的地方 tr
        var $objTr1 = $("#tr"+start); //找到要定位的地方 tr
        var objTr = $objTr[0]; //转化为dom对象
        var objTr1 = $objTr1[0]; //转化为dom对象
        console.log(objTr)
        // var $objTrColor = $("#tr"+start); //找到要定位的地方 tr
        objTr1.style.backgroundColor="#00FFFF"

        $("#tbody_quancheng").animate({scrollTop:objTr.offsetTop},"slow");

      }
    }
    var fileindo_index_id = [[${fileInfo}]]
    function returnindex(){
      window.location="../returnIndex?id="+fileindo_index_id.id;
    }
    function returnquxian(id){
      window.location="../quxianIndex?id="+id;
    }
      let tbody = document.getElementById('tbody_quancheng')
      var height = window.screen.availHeight
      tbody.style.height =height-150+'px'
     var startTime= document.getElementById("startTime")
     let time = startTime.innerText
     if (time != null && time.length != 0) {
       var d = new Date(time + ' GMT+8')


       let hours = d.getHours() <= 9 ? '0' + d.getHours() : d.getHours()
       console.log(d.getHours())
       let min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes()
       let sec = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds()
       let times =
               hours +
               ':' +
               min +
               ':' +
               sec
       startTime.innerText = times
     }
     var lastObjColor =''
    function step(s,flag_s){
      console.log(flag_s)
      for (let i = 1;i<=changeColor.length;i++){
        if (i==flag_s){
          changeColor[i-1].style.backgroundColor = '#aca1a1'
        }else {
          changeColor[i-1].style.backgroundColor = 'transparent'
        }
      }
      var stepAnalysis = [[${stepAnalysis}]]
      if (flag_s==1){
        var step = stepAnalysis.one
      }else if(flag_s==2){
        var step = stepAnalysis.two
      }else if(flag_s==3){
        var step =  stepAnalysis.three
      }else if(flag_s==4){
        var step =stepAnalysis.four
      }else if (flag_s==5){
        var step = stepAnalysis.five
      }else if (flag_s==6){
        var step = stepAnalysis.six
      }else if (flag_s==7){
        var step = stepAnalysis.seven
      }else if (flag_s==8){
        var step = stepAnalysis.shuangOne
      }else if (flag_s==9){
        var step = stepAnalysis.shuangTwo
      }else if (flag_s==10){
        var step = stepAnalysis.shuangThree
      }else if (flag_s==11){
        var step = stepAnalysis.shuangFour
      }else if (flag_s==12){
        var step = stepAnalysis.shuangFive
      }else if (flag_s==13){
        var step = stepAnalysis.shuangSix
      }else {
        var step = stepAnalysis.shuangSeven
      }
      console.log("+++++")
      if (step==null){
        alert("此步闸还没有做五部闸分析")
      }else {
        var start = step.startXiangDian
        var  end = step.endXiangDian
        var tr = document.getElementsByClassName('tr_quancheng')
        console.log(start)
        var biaoji = start-10
        console.log(biaoji)
        var $objTr = $("#tr"+biaoji); //找到要定位的地方 tr
        var $objTr1 = $("#tr"+start); //找到要定位的地方 tr
        var objTr = $objTr[0]; //转化为dom对象
        var objTr1 = $objTr1[0]; //转化为dom对象
        console.log(objTr)
        // var $objTrColor = $("#tr"+start); //找到要定位的地方 tr
        objTr1.style.backgroundColor="#00FFFF"
        // if (lastObjColor==''){
        //   lastObjColor = objTr; //转化为dom对象
        //   lastObjColor
        // }else {
        //   lastObjColor.style.backgroundColor="#F9F9F9"
        //   lastObjColor = objTr; //转化为dom对象
        //   lastObjColor.style.backgroundColor="#00FFFF"
        // }

        $("#tbody_quancheng").animate({scrollTop:objTr.offsetTop},"slow");

      }
    }
 function quxian(id){
   window.location="../quxianIndex?id="+id;
 }
     function stepxiangdian(s,flag_s)
     {
     console.log(flag_s)
       for (let i = 1;i<=changeColor.length;i++){
         if (i==flag_s){
           changeColor[i-1].style.backgroundColor = '#aca1a1'
         }else {
           changeColor[i-1].style.backgroundColor = 'transparent'
         }
       }
       var stepAnalysis = [[${stepAnalysis}]]
       if (s==1){
         var step = stepAnalysis.one

       }else if(s==2){
         var step = stepAnalysis.two
       }else if(s==3){
         var step =  stepAnalysis.three
       }else if(s==4){
         var step =stepAnalysis.four
       }else {
         var step = stepAnalysis.five
       }
       var xiangdian = step.xiangDian
       if (step!=null){
         var start = step.startXiangDian
         var  end = step.endXiangDian
         var tr = document.getElementsByClassName('tr_quancheng')
         console.log(start)
         var biaoji = start-10
         console.log(biaoji)
         var $objTr = $("#tr"+biaoji); //找到要定位的地方 tr
         var $objTr1 = $("#tr"+start); //找到要定位的地方 tr
         var objTr = $objTr[0]; //转化为dom对象
         var objTr1 = $objTr1[0]; //转化为dom对象
         console.log(objTr)
         // var $objTrColor = $("#tr"+start); //找到要定位的地方 tr
         objTr1.style.backgroundColor="#00FFFF"
         // if (lastObjColor==''){
         //   lastObjColor = objTr; //转化为dom对象
         //   lastObjColor
         // }else {
         //   lastObjColor.style.backgroundColor="#F9F9F9"
         //   lastObjColor = objTr; //转化为dom对象
         //   lastObjColor.style.backgroundColor="#00FFFF"
         // }

         $("#tbody_quancheng").animate({scrollTop:objTr.offsetTop},"slow");
         var baocuoduice =document.getElementById("baocuoduice")
         if (xiangdian!=null){
           baocuoduice.value =xiangdian.info
         }else {
           baocuoduice.value =''
         }

       }
     }
</script>
</html>
