<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/allrecord.css}" />
    <title>Document</title>
  </head>
  <body>
    <div class="select_nav">
      <button>五步闸分析</button>
      <button>监控换装控制</button>
      <button>整备调车安全</button>
      <button onclick="quxian(this.id)" th:id="${fileid}">曲线记录</button>
    </div>
    <div>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>序号</th>
            <th style="width: 100px">事件</th>
            <th style="width: 100px">时间</th>
            <th style="width: 100px">公里标</th>
            <th style="width: 100px">其它</th>
            <th>距离</th>
            <th>信号机</th>
            <th>信号</th>
            <th>速度</th>
            <th>限速</th>
            <th>零位</th>
            <th>牵引</th>
            <th>前后</th>
            <th>管压</th>
            <th>缸压</th>
            <th>转速电流</th>
            <th>均缸1</th>
            <th>均缸2</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="quancheng,indexState :${quanChengs}">
            <td>[[${quancheng.xuHao}]]</td>
            <td style="width: 100px">[[${quancheng.event}]]</td>
            <td class="timeformat" style="width: 100px">[[${times[indexState.index]}]]</td>
            <td style="width: 100px">[[${quancheng.gongLiBiao}]]</td>
            <td style="width: 100px">[[${quancheng.other}]]</td>
            <td>[[${quancheng.distance}]]</td>
            <td>[[${quancheng.signalMachine}]]</td>
            <td>[[${quancheng.xinHao}]]</td>
            <td>[[${quancheng.speed}]]</td>
            <td>[[${quancheng.restrictSpeed}]]</td>
            <td>[[${quancheng.lingWei}]]</td>
            <td>[[${quancheng.qianYin}]]</td>
            <td>[[${quancheng.qianHou}]]</td>
            <td>[[${quancheng.guanYa}]]</td>
            <td>[[${quancheng.gangYa}]]</td>
            <td>[[${quancheng.zhuanSuDianLiu}]]</td>
            <td>[[${quancheng.junGang1}]]</td>
            <td>[[${quancheng.junGang2}]]</td>
          </tr>
        </tbody>
      </table>
      <div class="rightbox">
        <div class="file_news">
          <div class="file_info">文件信息</div>
          <span class="left_info">司机</span
          ><span class="right_info">[[${fileInfo.siJiName}]]</span>
          <span class="left_info">副司机</span
          ><span class="right_info">[[${fileInfo.fuSiJiName}]]</span>
          <span class="left_info">开车时间</span
          ><span class="right_info">[[${fileInfo.fileStartTime}]]</span>

          <span class="left_info">机型</span
          ><span class="right_info">[[${fileInfo.jiXing}]]</span>
          <span class="left_info">车次</span
          ><span class="right_info">[[${fileInfo.cheCi}]]</span>
          <span class="left_info">起点站</span
          ><span class="right_info">[[${fileInfo.startStation}]]</span>

          <span class="left_info">机车号</span
          ><span class="right_info">[[${fileInfo.jiCheHao}]]</span>
          <span class="left_info">交路号</span
          ><span class="right_info">[[${fileInfo.jiaoLuHao}]]</span>

          <span class="left_info">计长</span>
          <span class="right_info">[[${fileInfo.jiChang}]]</span>
        </div>
        <div class="error_analyis">
          <div class="file_info">项点分析指向</div>
          <div class="error_td">
            <span>I端</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
          </div>
          <div class="error_td">
            <span>I端</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
            <span>第一步</span>
          </div>
          <div class="quxian">
            <div class="all_xiangdian">
              <div class="error_td1">
                <span>I端</span>
                <span>第一步</span>
                <span>第一步</span>
                <span>第一步</span>
                <span>第一步</span>
              </div>
              <div class="error_td1">
                <span>I端</span>
                <span>第一步</span>
                <span>第一步</span>
                <span>第一步</span>
                <span>第一步</span>
              </div>
            </div>
            <div class="recorder_quxian">曲线记录</div>
          </div>
        </div>
        <div class="error_menthod">
          <div class="file_info">标定对策</div>

          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
      </div>
    </div>
  </body>
<script>
 function quxian(id){
   window.location="../quxianIndex?id="+id;
 }
</script>
</html>
