<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/css/table.css}" />
    <script th:src="@{js/index.js}" th:inline="javascript"></script>
    <title>train</title>
  </head>

  <body>
  <div
          class="video_div"
          style="
        display: none;
        position: absolute;
        right: 0px;
        top: 50px;
        height: 420px;
        width: 600px;
      "
  >
      <span
              style="
          background: url(../images/x.png) no-repeat;
          background-size: 100%;
          display: block;
          width: 40px;
          height: 40px;
          position: relative;
          float: right;
        "
              onclick="close_video()"
      ></span>
    <video
            src="../images/剧情2.mp4"
            controls="controls"
            height="400px"
            width="600px"
            class="step_video"
            id="video_play"
    ></video>
  </div>
    <div class="info_soft clearfix">
      <span>整备数据分析系统（2021年3月20版）</span>
    </div>
    <div class="nav clearfix">
      <div class="nav_div"><span>系统设置</span></div>
      <div class="dropdown">
        <span class="showtime nav_div">显示时间</span>
        <div class="dropdown-content">
          <a href="/showTimeIndex?time=1">显示1小时内</a>
          <a href="/showTimeIndex?time=5">显示5小时内</a>
          <a href="/showTimeIndex?time=12">显示12小时内</a>
          <a href="/showTimeIndex?time=24">显示24小时内</a>
          <a href="/showTimeIndex?time=3">显示3天内</a>
          <a href="/showTimeIndex?time=7">显示7天内</a>
          <a href="/showTimeIndex?time=30">显示一个月内</a>
        </div>
      </div>
      <div class="dropdown">
        <span class="nav_div">机统6与报错</span>
        <div class="dropdown-content">
          <a href="#">人工提报机统6</a>
          <a href="#">智能报活</a>
        </div>
      </div>
      <div class="nav_div"><span>在线升级</span></div>
      <div class="nav_div"><span>显示界面设置</span></div>
      <div class="nav_div"><span>使用说明书</span></div>
    </div>
    <!-- 中间各种操作 -->
    <div class="midselect clearfix">
      <a href="#"><span>普通</span></a>
      <a href="#" onclick="getquancheng()"><span>全程记录</span></a>
      <a href="#" onclick="getquxian()"><span>曲线记录</span></a>
      <a href="#"><span>提示与指导</span></a>
      <a href="#"><span>显示界面设置</span></a>
      <a href="#"><span class="select_span" id ="step1">1</span></a>
      <a href="#"><span class="select_span" id ="step2">2</span></a>
      <a href="#"><span class="select_span" id ="step3">3</span></a>
      <a href="#"><span class="select_span" id ="step4">4</span></a>
      <a href="#"><span class="select_span" id ="step5">5</span></a>
      <a href="#"><span>预报活</span></a>
      <a href="/index"><span>新文件显示</span></a>
    </div>
<!--  <input type="hidden" id="stepanalysis" th:value="${stepAnalysis}" />-->
    <!-- 存放表格 -->
  <div id="show_execl" class="show_excel">
<!--    <a th:href="@{/oldNameDownload?filename=}+${fileinfo.oldFileName}+'&id='+${fileinfo.id}" onclick="download_origin_file()">下载原始文件</a>-->
<!--    <a th:href="@{/oldNameDownload?filename=}+${fileinfo.fileName}+'&id='+${fileinfo.id}"onclick="download_excle_file()">下载excle文件</a>-->
    <a href="#" onclick="download_origin_file()">下载原始文件</a>
    <a href="#" onclick="download_excle_file()">下载excle文件</a>

    <span class="origin_file_name"></span>
  </div>
    <div class="table-box">
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>序号</th>
            <th>整备点</th>
            <th style="width: 100px">文件起时</th>
            <th>车次</th>
            <th>机型</th>
            <th>车号</th>
            <th>司机名</th>
            <th>副司机名</th>
            <th>文件状态</th>
            <th>版本状态</th>
            <th>作业分</th>
            <th style="width: 100px">上传时间</th>
          </tr>
        </thead>

        <tbody >
          <tr th:each="fileinfo,state :${fileInfos}" th:onclick="'javascript:quanchengxiazai('+${state.index}+')'" ondblclick="quancheng(this.id)"  th:id="${fileinfo.id}">

            <td>[[${state.index}]]</td>
            <td>[[${fileinfo.zhuangBeiDian}]]</td>
            <td class="uploadformat">[[${fileinfo.fileStartTime}]]</td>
            <td>[[${fileinfo.cheCi}]]</td>
            <td>[[${fileinfo.jiXing}]]</td>
            <td>[[${fileinfo.cheHao}]]</td>
            <td>[[${fileinfo.siJiName}]]</td>
            <td>[[${fileinfo.fuSiJiName}]]</td>
            <td>[[${fileinfo.fileState}]]</td>
            <td></td>
            <td>[[${fileinfo.testScore}]]</td>
            <td class="timeformat">[[${fileinfo.uploadTime}]]</td>
          </tr>
        </tbody>
        <!-- 
        <tfoot>
          <tr>
            <td colspan="5">
              【table，thead，tbody，tfoot】 colspan：合并行， rowspan：合并列
            </td>
          </tr>
        </tfoot> -->
      </table>
      <div class="rightbox">
        <div class="baocuo">
          <span class="baocuo_title">报错与质量情况分析</span>
          <div class="btn_select">
            <button></button>
            <button></button>
            <button></button>
            <button></button>

          </div>
          <div class="select_bao">
            <span class="undo"></span>
            <span class="select_redo">重做</span>
            <span class="select_redo">报活</span>
          </div>
        </div>
        <div class="file_select">
          <span class="file_span">文件查询</span>
          <form th:action="@{/searchFile}" method="post">
            <div class="input_select">
              <span>司机号：</span><input type="text" name="siJiName"/>
            </div>
            <div class="input_select">
              <span>机型：</span><input type="text" name="jiXing"/>
            </div>
            <div class="input_select">
              <span>车次：</span><input type="text" name="cheCi" />
            </div>
            <div class="input_select">
              <span>司机名：</span><input type="text" name="siJiName" />
            </div>
            <div class="input_select">
              <span>车号：</span><input type="text" name="cheHao" />
            </div>
            <button class="btn_confirm">确认</button>
          </form>
        </div>
        <div class="history_select">
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <button class="btn_history">查询</button>
        </div>
      </div>
    </div>



  <script type="text/javascript" th:inline="javascript">
    var elevideo = document.getElementById('video_play')
    var step1 = document.getElementById('step1')
    var step2 = document.getElementById('step2')
    var step3 = document.getElementById('step3')
    var step4= document.getElementById('step4')
    var step5 = document.getElementById('step5')
    var fileinfos = [[${fileInfos}]]
    var stepanalysis = [[${stepAnalysis}]]



      let flag_step = 0
      if (stepanalysis!=null){
        if(stepanalysis.oneStep!=null){
          step1.style.backgroundColor="#38f"
          flag_step=1
        }
        if(stepanalysis.twoStep!=null){
          step2.style.backgroundColor="#38f"
          flag_step=2
        }
        if(stepanalysis.threeStep!=null){
          step3.style.backgroundColor="#38f"
          flag_step=3
        }
        if(stepanalysis.fourStep !=null){
          step4.style.backgroundColor="#38f"
          flag_step=4
        }
        if(stepanalysis.fiveStep!=null){
          step5.style.backgroundColor="#38f"
          flag_step=5
        }
        if (flag_step>0){
          let video_div = document.getElementsByClassName('video_div')[0]
          video_div.style.display = 'block'
          if (flag_step==1){
            elevideo.src= "../images/1.mp4"
          }else if(flag_step==2){
            elevideo.src= "../images/2.mp4"
          }else if(flag_step==3){
            elevideo.src= "../images/3.mp4"
          }else if(flag_step==4){
            elevideo.src= "../images/4.mp4"
          }else {
            elevideo.src= "../images/5.mp4"
          }
        }
      }
    elevideo.addEventListener(
            'ended',
            function () {
              //结束
              var video_div = document.getElementsByClassName('video_div')[0]
              video_div.style.display = 'none'
              // console.log('播放结束')
            },
            false
    )
    function close_video() {
      var video_div = document.getElementsByClassName('video_div')[0]
      video_div.style.display = 'none'
      elevideo.pause()
    }
    function quancheng(id) {
      window.location="../quancheng?id="+id;
    }
    function quanchengxiazai(index) {
        var show = document.getElementsByClassName('show_excel')[0]
        show.style.display = 'block'
        var spaninntext = document.getElementsByClassName('origin_file_name')[0]
        spaninntext.innerText='my name is guile'
        fileinfos[index].
        console.log(fileinfos[0])

    }
    var timeformat = document.getElementsByClassName('timeformat')
    //修改时间
    for (let i = 0; i < timeformat.length; i++) {
      let time = timeformat[i].innerText
      if (time != null && time.length != 0) {
        var d = new Date(time + ' GMT+8')

        let month =
                d.getMonth() + 1 < 10 ? '0' + (d.getMonth() + 1) : d.getMonth() + 1
        let day = d.getDate() < 10 ? '0' + d.getDate() : d.getDate()
        let hours = d.getHours() <= 9 ? '0' + d.getHours() : d.getHours()

        let min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes()
        let sec = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds()
        let times =
                d.getFullYear() +
                '-' +
                month +
                '-' +
                day +
                ' ' +
                hours +
                ':' +
                min +
                ':' +
                sec
        timeformat[i].innerHTML = times
      }

      timeformat[i].style.width = '100px'
    }
    var uploadformat = document.getElementsByClassName('uploadformat')
    for (let i = 0; i < uploadformat.length; i++) {
      let time = uploadformat[i].innerText
      if (time != null && time.length != 0) {
        var d = new Date(time + ' GMT+8')
        console.log(d)
        let month =
                d.getMonth() + 1 < 10 ? '0' + (d.getMonth() + 1) : d.getMonth() + 1
        let day = d.getDate() < 10 ? '0' + d.getDate() : d.getDate()
        let hours = d.getHours() <= 9 ? '0' + d.getHours() : d.getHours()
        console.log(d.getHours())
        let min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes()
        let sec = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds()
        let times =
                d.getFullYear() +
                '-' +
                month +
                '-' +
                day +
                ' ' +
                hours +
                ':' +
                min +
                ':' +
                sec
        uploadformat[i].innerHTML = times
      }

      uploadformat[i].style.width = '100px'
    }
      var fileinfo0 = [[${fileinfo0}]]
      function getquancheng(){
      //跳转到全程文件中去
        if (fileinfo0!=null){
            window.location="../quancheng?id="+fileinfo0.id;
        }else {
          alert("还没有选中文件")
        }
      }
      function getquxian(){
        if (fileinfo0!=null){
          window.location="../quxianIndex?id="+fileinfo0.id;
        }else {
          alert("还没有选中文件")
        }
      }
  </script>
  </body>
</html>
