<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/css/table.css}" />
    <script th:src="@{js/index.js}" th:inline="javascript"></script>
    <script th:src="@{js/jquery.js}"></script>
    <title>train</title>
  </head>

  <body>
  <div
          class="video_div"
          style="
        display: none;
        position: absolute;
        right: 0px;
        top: 50px;
        height: 420px;
        width: 600px;
      "
  >
      <span
              style="
          background: url(../images/x.png) no-repeat;
          background-size: 100%;
          display: block;
          width: 40px;
          height: 40px;
          position: relative;
          float: right;
        "
              onclick="close_video()"
      ></span>
    <video
            src="../images/剧情2.mp4"
            controls="controls"
            height="400px"
            width="600px"
            class="step_video"
            id="video_play"
            autoplay="autoplay"
    ></video>
  </div>
    <div class="info_soft clearfix">
      <span>整备数据分析系统（2021年3月20版）</span>
    </div>
    <div class="nav clearfix">
      <div class="nav_div"><span>系统设置</span></div>
      <div class="dropdown">
        <span class="showtime nav_div">显示时间</span>
        <div class="dropdown-content">
          <a href="/showTimeIndex?time=1">显示1小时内</a>
          <a href="/showTimeIndex?time=5">显示5小时内</a>
          <a href="/showTimeIndex?time=12">显示12小时内</a>
          <a href="/showTimeIndex?time=24">显示24小时内</a>
          <a href="/showTimeIndex?time=3">显示3天内</a>
          <a href="/showTimeIndex?time=7">显示7天内</a>
          <a href="/showTimeIndex?time=30" style="  border-bottom: 3px solid #b9b9b9;">显示一个月内</a>
        </div>
      </div>
      <div class="dropdown">
        <span class="nav_div">机统6与报错</span>
        <div class="dropdown-content">
          <a href="#">人工提报机统6</a>
          <a href="#" id ="baohuo">智能报活</a>
        </div>
      </div>
      <div class="nav_div"><span>在线升级</span></div>
      <div class="nav_div"><span>显示界面设置</span></div>
      <div class="nav_div"><span>使用说明书</span></div>
    </div>
    <!-- 中间各种操作 -->
    <div class="midselect clearfix">
      <a href="#"><span style="background-color: #a3a0f9">普通</span></a>
      <a href="#" onclick="getquancheng()" ><span style="width: 150px">全程记录</span></a>
      <a href="#" onclick="getquxian()"><span style="width: 150px">曲线记录</span></a>
      <a href="#" onclick="tishi_guide()"><span style="width: 150px">提示与指导</span></a>

      <a href="#"><span class="select_span" id ="step1">1</span></a>
      <a href="#"><span class="select_span" id ="step2">2</span></a>
      <a href="#"><span class="select_span" id ="step3">3</span></a>
      <a href="#"><span class="select_span" id ="step4">4</span></a>
      <a href="#"><span class="select_span" id ="step5">5</span></a>
      <a href="#"><span style="width: 150px">预报活</span></a>
      <a href="/index"><span style="width: 150px">新文件显示</span></a>
    </div>
<!--  <input type="hidden" id="stepanalysis" th:value="${stepAnalysis}" />-->
    <!-- 存放表格 -->
  <div id="show_execl" class="show_excel" style="display: none">

<!--    <a th:href="@{/oldNameDownload?filename=}+${fileinfo.oldFileName}+'&id='+${fileinfo.id}" onclick="download_origin_file()">下载原始文件</a>-->
<!--    <a th:href="@{/oldNameDownload?filename=}+${fileinfo.fileName}+'&id='+${fileinfo.id}"onclick="download_excle_file()">下载excle文件</a>-->
    <a href="#" onclick="download_origin_file()">下载原始文件</a>
    <a href="#" onclick="download_excle_file()">下载excle文件</a>
    <span class="origin_file_name"></span>
    <span onclick="cancleShow()"style="cursor: pointer;">取消</span>
  </div>
<!--  此部分为点击预报活而开始的页面-->
  <div class="yubaohuo" id="yubaohuo" style="display: none">
    <div class="jixing_baohuo">
      <div class="jixing_input">
        <div class="input_span">
          <span>机型</span><input type="text" name=""  />
        </div>
        <div class="input_span">
          <span>车号</span><input type="text" name=""  />
        </div>
      </div>
      <span class="piliangcheci">批量车次</span>
    </div>

    <div class="res_date">
      <div>预报活有效期</div>
      <input type="datetime-local" name="" />
      <input type="datetime-local" name=""  />
    </div>

    <div>预报活内容</div>
    <input
            type="text"
            name=""

            class="baohuo_text"
            placeholder="50个汉字、大小写英文、符号"
    />
    <div class="shenhe_div">
      <div style="float: left">预报活审核码</div>
      <input style="float: left" type="text" placeholder="1-5位数字" />
    </div>
    <div class="btn_last">
      <input type="button" value="确认" class="btn_baohuo" />
      <span>历史预报活</span>
      <span>撤销预报活</span>
    </div>
  </div>
    <div class="table-box">
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th style="width: 60px;">序号</th>
            <th style="width: 60px">整备点</th>
            <th style="width: 150px">文件起时</th>
            <th>车次</th>
            <th>机型</th>
            <th>车号</th>
            <th>司机名</th>
            <th>副司机名</th>
            <th>文件状态</th>
            <th>版本状态</th>
            <th>作业分</th>
            <th style="width: 150px">上传时间</th>
          </tr>
        </thead>

        <tbody id = "tbody">
          <tr th:class="tr_show" th:each="fileinfo,state :${fileInfos}"ondblclick="quancheng(this.id)"  th:id="${fileinfo.id}"  th:onclick="'javascript:click_show_info('+${state.index}+')'" >
<!--              th:onclick="'javascript:quanchengxiazai('+${state.index}+');javascript:stopBubble()'" -->


            <td style="background-color: #e1e1e1;width: 60px;border: 1px solid white">[[${state.index}+1]]</td>
            <td style="background-color: #e1e1e1;width: 60px">[[${fileinfo.zhuangBeiDian}]]</td>
            <td class="uploadformat">[[${startTime[state.index]}]]</td>
            <td>[[${fileinfo.cheCi}]]</td>
            <td>[[${fileinfo.jiXing}]]</td>
            <td>[[${fileinfo.cheHao}]]</td>
            <td>[[${fileinfo.siJiName}]]</td>
            <td>[[${fileinfo.fuSiJiName}]]</td>
            <td>[[${fileinfo.fileState}]]</td>
            <td></td>
            <td>[[${fileinfo.testScore}]]</td>
            <td class="timeformat">[[${uploadTime[state.index]}]]</td>
          </tr>
        </tbody>
        <!-- 
        <tfoot>
          <tr>
            <td colspan="5">
              【table，thead，tbody，tfoot】 colspan：合并行， rowspan：合并列
            </td>
          </tr>
        </tfoot> -->
      </table>
      <div class="rightbox">
        <div class="baocuo">
          <span class="baocuo_title">报错与质量情况分析</span>
          <div class="btn_select">
            <span onclick="xiangdian_to_quancheng(this.id)" id="xiangdian0"></span>
            <span onclick="xiangdian_to_quancheng(this.id)" id="xiangdian1"></span>
            <span onclick="xiangdian_to_quancheng(this.id)" id="xiangdian2"></span>
            <span onclick="xiangdian_to_quancheng(this.id)" id="xiangdian3"></span>

          </div>
          <div class="select_bao">
            <span class="undo"></span>
            <span class="select_redo">重做</span>
            <span class="select_redo">报活</span>
          </div>
        </div>
        <div class="file_select">
          <span class="file_span">文件查询</span>
          <form th:action="@{/searchFile}" method="post">
            <div class="input_select">
              <span>司机号：</span><input type="text" name="siJiName" />
            </div>
            <div class="input_select">
              <span>机型：</span><input type="text" name="jiXing" />
            </div>
            <div class="input_select">
              <span>车次：</span><input type="text" name="cheCi" />
            </div>
            <div class="input_select">
              <span>司机名：</span><input type="text" name="fuSiJiName" />
            </div>
            <div class="input_select">
              <span>车号：</span><input type="text" name="cheHao" />
            </div>
            <div class="input_select">
              <button class="btn_confirm">确认</button>
            </div>
          </form>
        </div>
        <div class="history_select">
          <span class="file_span">历史质量分析</span>
          <input  style="color: #000000" type="text" value="" />
          <input style="color: #000000" type="text"  value=""/>
          <input  style="color: #000000" type="text" value="" />
          <input  style="color: #000000" type="text" value="" />
          <button class="btn_history">查询</button>
        </div>
      </div>
    </div>



  <script type="text/javascript" th:inline="javascript">
    var height = window.screen.availHeight
    var tbody = document.getElementById('tbody')
    tbody.style.height = height - 100 + 'px'
    //修改tbody的高度
    var elevideo = document.getElementById('video_play')
    var fileInfos =[[${fileInfos}]]


    elevideo.addEventListener(
            'ended',
            function () {
              //结束
              var video_div = document.getElementsByClassName('video_div')[0]
              video_div.style.display = 'none'
              // console.log('播放结束')
            },
            false
    )
    //关闭视频页面
    function close_video() {
      var video_div = document.getElementsByClassName('video_div')[0]
      video_div.style.display = 'none'
      elevideo.pause()
    }
    //双击跳转全程界面
    function quancheng(id) {
      window.location="../quancheng?id="+id;
    }

      //点击全程页面
      function getquancheng(){
      //跳转到全程文件中去
        if (last_index!=''){
          var fileinfo0 = fileInfos[last_index]
        }else
        {
          var fileinfo0 = fileInfos[0]
        }

        if (fileinfo0!=null){
            window.location="../quancheng?id="+fileinfo0.id;
        }else {
          alert("还没有选中文件")
        }
      }
      //点击曲线页面
      function getquxian(){
      //跳转到曲线里去
        if (last_index!=''){
          var fileinfo0 = fileInfos[last_index]
        }else
        {
          var fileinfo0 = fileInfos[0]
        }
        if (fileinfo0!=null){
          window.location="../quxianIndex?id="+fileinfo0.id;
        }else {
          alert("还没有选中文件")
        }
      }


    function e(obj) {
      return document.getElementById(obj)
    }
    e('baohuo').onclick = function (event) {
      e('yubaohuo').style.display = 'block'

      stopBubble(event)
      document.onclick = function () {
        e('yubaohuo').style.display = 'none'
        document.onclick = null
      }
    }
    // e('show_execl').onclick = function (event){
    //   stopBubble(event)
    // }
    e('yubaohuo').onclick = function (event) {
      //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数
      stopBubble(event)
    }
    //阻止冒泡函数
    function stopBubble(e) {
      if (e && e.stopPropagation) {
        e.stopPropagation() //w3c
      } else {
        window.event.cancelBubble = true //IE
      }
    }
    //文件初始名
    var originName=''
    //文件名
    var fileName = ''
    //关于需要下载的fileid
    var fileIdDownload = ''
    //关于是哪一个下载的界面
    var last_show=''
    //点的是哪一个
    var last_tr_show = ''
    //左键点击的是哪一行
    var last_index = -1
    document.body.addEventListener('click', function() {
      if (last_show!=''){
        last_show.style.display = 'none'
      }
    })
    //下载文件
    function download_origin_file(){
      window.location = '../oldNameDownload?filename='+originName+'&id='+fileIdDownload

    }
    //下载excel文件
    function download_excle_file(){

      window.location = '../oldNameDownload?filename='+fileName+'&id='+fileIdDownload

    }
      //右键点击tr时，显示对应的下载
      tr_right = document.getElementsByClassName("tr_show")
      for(let i= 0;i<tr_right.length;i++){
        tr_right[i].oncontextmenu=function (e){
          e.preventDefault();
        }
        tr_right[i].onmouseup = function (oEvent){
          if (!oEvent) oEvent=window.event;
          if (oEvent.button==2) {
            var posX = 0, posY = 0;
            var event = event || window.event;

            if (last_tr_show==''){

              tr_right[i].style.backgroundColor="#aca1a1"
              last_tr_show = tr_right[i]
            }else {
              last_tr_show.style.backgroundColor="#ffffff"
              tr_right[i].style.backgroundColor="#aca1a1"
              last_tr_show = tr_right[i]
            }

            var show = document.getElementsByClassName('show_excel')[0]
            if (event.pageX || event.pageY) {
              posX = event.pageX;
              posY = event.pageY;
              if (last_show!=''){
                last_show.style.display='none'
              }
            }
            show.style.top=posY+'px'
            show.style.left = posX+'px'

            show.style.display = 'block'

            last_show = show
            var spaninntext = document.getElementsByClassName('origin_file_name')[0]
            originName= fileInfos[i].oldFileName
            fileName = fileInfos[i].fileName
            fileIdDownload = fileInfos[i].id
            spaninntext.innerText = originName
          }
        }
      }
    //隐藏下载页面
    function cancleShow(){
        //下载execl的取消界面
        var show = document.getElementsByClassName('show_excel')[0]
        show.style.display = 'none'
      }
      //主要为用户单击的时候
      function click_show_info(index){
        //修改配色
        if (last_tr_show==''){
          tr_right[index].style.backgroundColor="#aca1a1"
          last_tr_show = tr_right[index]
        }else {
          last_tr_show.style.backgroundColor="#ffffff"
          tr_right[index].style.backgroundColor="#aca1a1"
          last_tr_show = tr_right[index]
        }
        last_index = index
        //其次单击的时候要显示需要的文件
        flag_xiangdian = 0
        var fileinfo_xiangdian = fileInfos[index]
        // console.log(fileinfo_xiangdian)
        if(fileinfo_xiangdian.stepAnalysis.one!=null){
        if(fileinfo_xiangdian.stepAnalysis.one.xiangDian!=null){
          var ipt_xiangdian = document.getElementById('xiangdian'+flag_xiangdian)
          ipt_xiangdian.innerText = fileinfo_xiangdian.stepAnalysis.one.xiangDian.info
          ipt_xiangdian.className='one'
          flag_xiangdian=flag_xiangdian+1
        }
        }
        if(fileinfo_xiangdian.stepAnalysis.two!=null){
        if(fileinfo_xiangdian.stepAnalysis.two.xiangDian!=null){
          var ipt_xiangdian = document.getElementById('xiangdian'+flag_xiangdian)
          ipt_xiangdian.innerText = fileinfo_xiangdian.stepAnalysis.two.xiangDian.info
          ipt_xiangdian.className='two'
          flag_xiangdian=flag_xiangdian+1
        }
        }
        if(fileinfo_xiangdian.stepAnalysis.three!=null){
          if(fileinfo_xiangdian.stepAnalysis.three.xiangDian!=null){
            var ipt_xiangdian = document.getElementById('xiangdian'+flag_xiangdian)
            ipt_xiangdian.innerText = fileinfo_xiangdian.stepAnalysis.three.xiangDian.info
            ipt_xiangdian.className='three'
            flag_xiangdian=flag_xiangdian+1
          }
        }
        if(fileinfo_xiangdian.stepAnalysis.four!=null){
          if(fileinfo_xiangdian.stepAnalysis.four.xiangDian!=null){
            var ipt_xiangdian = document.getElementById('xiangdian'+flag_xiangdian)
            ipt_xiangdian.innerText = fileinfo_xiangdian.stepAnalysis.four.xiangDian.info
            ipt_xiangdian.className='four'
            flag_xiangdian=flag_xiangdian+1
          }
        }
        if(fileinfo_xiangdian.stepAnalysis.five!=null){
          if(fileinfo_xiangdian.stepAnalysis.five.xiangDian!=null){
            if (flag_xiangdian<4){
              var ipt_xiangdian = document.getElementById('xiangdian'+flag_xiangdian)
              ipt_xiangdian.innerText = fileinfo_xiangdian.stepAnalysis.five.xiangDian.info
              ipt_xiangdian.className='five'
              flag_xiangdian=flag_xiangdian+1
            }
          }
        }
        if (flag_xiangdian==0){
          for (let i = 0;i<4;i++){
            let ipt_xiangdian = document.getElementById('xiangdian'+i)
            ipt_xiangdian.innerText = " "
            // console.log(ipt_xiangdian)
          }
        }
      }
    //当用户点击提示与指导
      function tishi_guide(){

        if (last_index!=-1){
          var fileinfo_xiangdian = fileInfos[last_index]
        }else
        {
          var fileinfo_xiangdian = fileInfos[0]
        }
        var step1 = document.getElementById('step1')
        var step2 = document.getElementById('step2')
        var step3 = document.getElementById('step3')
        var step4= document.getElementById('step4')
        var step5 = document.getElementById('step5')
        let flag_step = 0
        if(fileinfo_xiangdian.stepAnalysis.five!=null){
          if(fileinfo_xiangdian.stepAnalysis.five.xiangDian!=null){
            step5.style.backgroundColor = "red"
            flag_step = 5
          }else {
            step5.style.backgroundColor = "#38f"
          }
        }else {
          step5.style.backgroundColor = "#e1e1e1"
        }
        if(fileinfo_xiangdian.stepAnalysis.four!=null){
          if(fileinfo_xiangdian.stepAnalysis.four.xiangDian!=null){
            step4.style.backgroundColor = "red"
            flag_step = 4
          }else {
            step4.style.backgroundColor = "#38f"
          }
        }else {
          step4.style.backgroundColor = "#e1e1e1"
        }
        if(fileinfo_xiangdian.stepAnalysis.three!=null){
          if(fileinfo_xiangdian.stepAnalysis.three.xiangDian!=null){
            step3.style.backgroundColor = "red"
            flag_step = 3
          }else {
            step3.style.backgroundColor = "#38f"
          }
        }else {
          step3.style.backgroundColor = "#e1e1e1"
        }
        if(fileinfo_xiangdian.stepAnalysis.two!=null){
          if(fileinfo_xiangdian.stepAnalysis.two.xiangDian!=null){
            step2.style.backgroundColor = "red"
            flag_step = 2
          }else {
            step2.style.backgroundColor = "#38f"
          }
        }else {
          step2.style.backgroundColor = "#e1e1e1"
        }

        if(fileinfo_xiangdian.stepAnalysis.one!=null){
          if(fileinfo_xiangdian.stepAnalysis.one.xiangDian!=null){
            step1.style.backgroundColor = "red"
            flag_step = 1
          }else {
            step1.style.backgroundColor = "#38f"
          }
        }else {
          step1.style.backgroundColor = "#e1e1e1"
        }
        if (flag_step>0){
          let video_div = document.getElementsByClassName('video_div')[0]
          video_div.style.display = 'block'
          var elevideo = document.getElementById('video_play')
          if (flag_step==1){
            elevideo.src= "../images/剧情2.mp4"
          }else if(flag_step==2){
            elevideo.src= "../images/剧情2.mp4"
          }else if(flag_step==3){
            elevideo.src= "../images/剧情2.mp4"
          }else if(flag_step==4){
            elevideo.src= "../images/剧情2.mp4"
          }else {
            elevideo.src= "../images/剧情2.mp4"
          }
          elevideo.play()
        }
      }
    //当用户点击具体的项点进行跳转
      function xiangdian_to_quancheng(id){
        var xiangdian = document.getElementById(id)
       if (xiangdian.innerText.length>0){
         //当项点不为0的时候

         if(last_index!=-1){
           var fileid = fileInfos[last_index].id
           var step = xiangdian.className
           // console.log(step)
           window.location="../jumpToQuancheng?id="+fileid+"&step="+step
         }
       }
      }
  </script>
  </body>
</html>
