<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/ji_che_hao.css" />
    <title>Document</title>
  </head>

  <body>
    <span class="info">机车信息设置表</span>

    <table cellpadding="0" cellspacing="0" id="table_quancheng">
      <thead>
        <tr>
          <th>机型</th>
          <th>机型代号</th>
          <th>机车号</th>
          <th>单双端</th>
          <th>车组其它车号</th>
          <th>制动机型号</th>
          <th>列制比</th>
          <th>五步闸次序</th>
          <th>对应列</th>
          <th>操作</th>
        </tr>
      </thead>

      <tbody id="tbody_quancheng">
        <tr th:each="jiche:${jiches}">
          <td>[[${jiche.jiXing}]]</td>
          <td>[[${jiche.jiXingHao}]]</td>
          <td>[[${jiche.jiCheHao}]]</td>
          <td>[[${jiche.danShuangDuan}]]</td>
          <td>[[${jiche.otherJiCheHao}]]</td>
          <td>[[${jiche.zhiDongJiName}]]</td>
          <td>[[${jiche.lieZhiRatio}]]</td>

          <td th:onclick="'javascript:stepshunxu('+${jiche.id}+','+${jiche.stepShunXuId}+')'">[[${jiche.stepShunXu.name}]]</td>
          <td th:onclick="'javascript:eventchange('+${jiche.id}+','+${jiche.eventChangeId}+')'">[[${jiche.eventChange.name}]]</td>
          <td>删除</td>
        </tr>
      </tbody>
    </table>
    <span class="add_btn" id="add_btn">增加</span>
    <div class="add_template" id="template_div">
      <form th:action="@{/insertJiChe}" method="post">
        <span> 机型 <input type="text" name="jiXing" /></span>
        <span> 机车号 <input type="text" name="jiCheHao" /></span>
        <span> 单双端 <input type="text" name="danShuangDuan" /></span>
        <span> 车组其它车号 <input type="text" name="otherJiCheHao" /></span>
        <span> 制动机型号 <input type="text" name="zhiDongJiName" /></span>
        <span> 列制比<input type="text" name="lieZhiRatio" /></span>
        <span>
          五步闸次序
          <select class="select_nandu" name="stepShuXuId">
            <option th:each="shunxu:${stepShunXu}" th:value="${shunxu.id}"
            th:text="${shunxu.name}"
            ></option>
          </select>
        </span>
        <span>
          对应列<select class="select_nandu" name="eventChangeId">
            <option value="1">标准列</option>
          </select>
        </span>
        <button>提交</button>
      </form>
    </div>
  </body>
  <script>
    function e(obj) {
      return document.getElementById(obj)
    }
    e('add_btn').onclick = function (event) {
      e('template_div').style.display = 'block'
      stopBubble(event)
      document.onclick = function () {
        e('template_div').style.display = 'none'
        document.onclick = null
      }
    }
    e('template_div').onclick = function (event) {
      //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数
      stopBubble(event)
    }
    function stopBubble(e) {
      if (e && e.stopPropagation) {
        e.stopPropagation() //w3c
      } else {
        window.event.cancelBubble = true //IE
      }
    }
    function stepshunxu(id,shunxuId){
     window.location="../stepShunXuIndex?id="+id+"&shunxuId="+shunxuId;
    }
    function eventchange(id,eventId){
      window.location="../stepShunXuIndex?id="+id+"&eventId="+eventId;
    }
  </script>
</html>
