<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    .clearfix:after {
      content: '020';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .clearfix {
      /* 触发 hasLayout */
      zoom: 1;
    }

    ul li {
      list-style-type: none;
    }
    li {
      display: block;
      background-color: #28aedd;
      width: 200px;
      height: 280px;
      float: left;
    }
    li span {
      display: block;
      line-height: 30px;
      margin-left: 20px;
    }
    .jiantou1,
    .jiantou2,
    .jiantou3 {
      display: block;
      width: 50px;
      height: 50px;
      background: url(../images/left.png) no-repeat;
      background-size: 100%;
      float: left;
      margin-top: 50px;
      margin-left: 5px;
    }
    #add_template1,
    #add_template2,
    #add_template3{
      height: 20px;
      margin-top: 65px;
    }
    .add_template {
      display: none;
      width: 200px;
      height: 320px;
      background-color: #28aedd;
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translateX(-50%);
      line-height: 30px;
    }
    .add_template span {
      display: block;
    }
    input {
      width: 100px;
    }
    select {
      width: 100px;
    }
    .add_btn {
      margin: 0;
      width: 50px;
      margin-left: 70px;
    }
    .template_div {
      width: 100%;
      margin-top: 10px;
    }
    .button_modefiy{
      height: 20px;
      }
  </style>
  <body>
    <div class="template_div clearfix">
      <ul th:each="guanya,state :${guanyas}">
<!--        th:onclick="'modeify_input(this.id,0,'+${state.index}+');'"-->
        <li>
          <div th:id="li+${guanya.id}">
          <span>管压</span>
          <span>最大值：[[${guanya.maxStress}]]</span>
          <span>最小值 [[${guanya.minStress}]]</span>
          <span> 最小时间：[[${guanya.minTime}]]s </span>
          <span> 最大时间：[[${guanya.maxTime}]]s </span>
          <span class="guanya_is_stable">[[${guanya.isDepend}]]</span>
            <span class="guanyatongbu1"></span>
            <span class="guanyatongbu2"></span>
          </div>
          <span  style="display: block" th:class="guanya+${state.index}"  th:id="guanya+${guanya.id}"><button class="button_modefiy" >修改模板</button></span>
        </li>
        <span class="jiantou1" ></span>
      </ul>
      <button id="add_template1">增加模板</button>
    </div>
    <div class="template_div clearfix">
      <ul th:each="gangya,state :${gangyas}">
        <li>
          <div th:id="li+${gangya.id}">
          <span>缸压</span>
          <span>最大值：[[${gangya.maxStress}]]</span>
          <span>最小值 [[${gangya.minStress}]]</span>
          <span> 最小时间：[[${gangya.minTime}]]s </span>
          <span> 最大时间：[[${gangya.maxTime}]]s </span>
          <span class="gangya_is_stable">[[${gangya.isDepend}]]</span>
            <span class="gangyatongbu1"></span>
            <span class="gangyatongbu2"></span>
          </div>
          <span  style="display: block" th:class="gangya+${state.index}"  th:id="gangya+${gangya.id}"><button class="button_modefiy" >修改模板</button></span>
        </li>
        <span class="jiantou2"></span>
      </ul>
      <button id="add_template2">增加模板</button>
    </div>
    <div class="template_div clearfix">
      <ul th:each="jungang,state :${jungangs}">
        <li>
          <div th:id="li+${jungang.id}">
          <span>均缸</span>
          <span>最大值：[[${jungang.maxStress}]]</span>
          <span>最小值 [[${jungang.minStress}]]</span>
          <span> 最小时间：[[${jungang.minTime}]]s </span>
          <span> 最大时间：[[${jungang.maxTime}]]s </span>
          <span class="jungang_is_stable">[[${jungang.isDepend}]]</span>
          <span class="jungangtongbu1"></span>
          <span class="jungangtongbu2"></span>
          </div>
          <span  style="display: block" th:class="jungang+${state.index}"  th:id="jungang+${jungang.id}"><button class="button_modefiy" >修改模板</button></span>
        </li>
        <span class="jiantou3"></span>
      </ul>
      <button id="add_template3">增加模板</button>
    </div>
    <div class="add_template" id="template_div">
      <form action="addTemplateSelect" method="post">
        <span> 压力 <select class="select_nandu" name="stressName">
            <option value="管">管压</option>
            <option value="列">缸压</option>
            <option value="均">均缸</option>
          </select>
        </span>
        <span> 最大值 <input type="text" name="maxStress"/> </span>
        <span>最小值<input type="text" name="minStress"/> </span>
        <span> 最小时间<input type="number" name="minTime"/></span>
        <span> 最大时间<input type="number" name="maxTime"/></span>
        <input type="hidden" th:value="${templateId}" name="templateId">
        <span>
          高低进入
        <select class="select_nandu" name="stateEnter">
          <option value="0">无</option>
          <option value="1">高</option>
          <option value="-1">低</option>
        </select>
          </span>
        <span>
          高低离开
        <select class="select_nandu" name="stateOut">
          <option value="0">无</option>
          <option value="1">高</option>
          <option value="-1">低</option>
        </select>
          </span>
        <span>
          同步压力
          <select class="select_nandu" name="isDepend">
              <option value="-1">无</option>
              <option value="1">管压</option>
              <option value="2">缸压</option>
              <option value="3">均缸</option>
          </select>
          <span>同步开始<input type="number" name="startId" value="0"/></span>
          <span>同步结束<input type="number" name="endID" value="0"/></span>
        </span>
        <button class="add_btn">增加</button>
      </form>
    </div>
  </body>
  <script type="text/javascript" th:inline="javascript">

    var lastHtml = '';
    var lastGetId = '';
    var lastYaLi = '';
    for (let i = 1; i <= 3; i++) {
      let jiantou = document.getElementsByClassName('jiantou' + i)
      if(jiantou.length>=1){
        jiantou[jiantou.length - 1].style.display = 'none'
      }

    }
    function e(obj) {
      return document.getElementById(obj)
    }
    for (let i = 1; i <= 3; i++) {
      e('add_template' + i).onclick = function (event) {
        e('template_div').style.display = 'block'
        stopBubble(event)
        document.onclick = function () {
          e('template_div').style.display = 'none'
          document.onclick = null
        }
      }
    }

    e('template_div').onclick = function (event) {
      //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数
      stopBubble(event)
    }
    function stopBubble(e) {
      if (e && e.stopPropagation) {
        e.stopPropagation() //w3c
      } else {
        window.event.cancelBubble = true //IE
      }
    }
    var guanya = [[${guanyas}]]
    var gangya = [[${gangyas}]]
    var jungang = [[${jungangs}]]
    var templateId = [[${templateId}]]
    var guanyatongbu = document.getElementsByClassName("guanya_is_stable")
    var gangyatongbu = document.getElementsByClassName("gangya_is_stable")
    var jungangtongbu = document.getElementsByClassName("jungang_is_stable")
    if (guanyatongbu!=null){
      for (let i = 0;i<guanyatongbu.length;i++){
        if (guanya[i].isDepend!=-1){
            if(guanya[i].isDepend!=2){
              guanyatongbu[i].innerText = "与缸压同步"
            }else {
              guanyatongbu[i].innerText = "与均缸同步"
            }
          var  tongbu1 = document.getElementsByClassName("guanyatongbu1")[0]
          tongbu1.innerText = "同步开始："+guanya[i].startId;
          var  tongbu2 = document.getElementsByClassName("guanyatongbu2")[0]
          tongbu2.innerText = "同步结束："+guanya[i].endId;
        }else {
          guanyatongbu[i].innerText = "无同步压力"
        }
      }
    }
    if(jungangtongbu!=null){
      for (let i = 0;i<jungangtongbu.length;i++){
        if (jungang[i].isDepend!=-1){
          if(jungang[i].isDepend!=2){
            jungangtongbu[i].innerText = "与缸压同步"
          }else {
            jungangtongbu[i].innerText = "与均缸同步"
          }
          var  tongbu1 = document.getElementsByClassName("jungangtongbu1")[0]
          tongbu1.innerText = "同步开始："+jungang[i].startId;
          var  tongbu2 = document.getElementsByClassName("jungangtongbu2")[0]
          tongbu2.innerText = "同步结束："+jungang[i].endId;
        }else {
          jungangtongbu[i].innerText = "无同步压力"
        }
      }
    }
    if (gangyatongbu!=null){
      for (let i = 0;i<gangyatongbu.length;i++){
        if (gangya[i].isDepend!=-1){
          if(gangya[i].isDepend!=2){
            gangyatongbu[i].innerText = "与缸压同步"
          }else {
            gangyatongbu[i].innerText = "与均缸同步"
          }
          var  tongbu1 = document.getElementsByClassName("gangyatongbu1")[0]
          tongbu1.innerText = "同步开始："+gangya[i].startId;
          var  tongbu2 = document.getElementsByClassName("gangyatongbu2")[0]
          tongbu2.innerText = "同步结束："+gangya[i].endId;
        }else {
          gangyatongbu[i].innerText = "无同步压力"
        }
      }
    }
    for (let  i = 0;i<guanya.length;i++){
      e('guanya' + guanya[i].id).onclick = function (event) {
          lastYaLi = guanya[i];
          var temp = "li"+guanya[i].id;
          var  stress = guanya[i];
          var guanyaid = document.getElementById(temp);
          lastGetId = guanyaid;
          lastHtml = guanyaid.innerHTML;
          var tempHTML = "<span>管压</span>"+
                  "<form action='updateyali' method='post' >"+
                  "<span>最大值" +
                  "<input type='text' value='"+stress.maxStress+"' name='maxStress' /></span>"+
                  "<span>最小值" +
                  "<input type='text' value='"+stress.minStress+"' name='minStress' /></span>"+
                  "<span>最小时间" +
                  "<input type='text' value='"+stress.maxTime+"' name='maxTime' /></span>"+
                  "<input type='hidden' value='"+templateId+"' name='templateId' />"+
                  "<input type='hidden' value='"+stress.id+"' name='id' />"+
                  "<span>最大时间" +
                  "<input type='text' value='"+stress.minTime+"' name='minTime' /></span>";
        if (guanya[i].isDepend!=-1){
          tempHTML = tempHTML+"<span> 有同步压力</span>"+
                  "<span>开始同步<input type='text' value='"+stress.startId+"' name='startId'/></span>"+
                  "<span>结束同步<input type='text' value='"+stress.endId+"' name='endId' /></span>"
        }else{
          tempHTML = tempHTML+"<span> <select name='isDepend'>" +
                  "<option  value='-1'>无</option>" +
                  "<option value='1'>均管</option>" +
                  "<option value='2'>缸压</option>" +
                  "<option value='3'>均缸</option>" +
                  "</select></span>"+
                  "<span>开始同步<input type='text' value='"+stress.startId+"'name='startId' /></span>"+
                  "<span>结束同步<input type='text' value='"+stress.endId+"'  name='endId' /></span>"
        }
          tempHTML = tempHTML+"<span><button>提交</button></span>" +
                  "</form>"
          guanyaid.innerHTML=tempHTML;
          stopBubble(event)
        document.onclick = function () {
          lastYaLi = ''
          var temp = "li"+guanya[i].id;
          var guanyaid = document.getElementById(temp);
          guanyaid.innerHTML = lastHtml
          // let temp1 = "guanya"+guanya[i].id
          // let but = document.getElementById(temp1);
          // but.style.display="block"
          console.log(1)
          document.onclick = null
        }
      }
    }
    for (let  i = 0;i<gangya.length;i++){
      e('gangya' + gangya[i].id).onclick = function (event) {
        lastYaLi = gangya[i];
        var temp = "li"+gangya[i].id;
        var  stress = gangya[i];
        var gangyaid = document.getElementById(temp);
        lastGetId = gangyaid;
        lastHtml = gangyaid.innerHTML;
        var tempHTML = "<span>缸压</span>"+
                "<form action='updateyali' method='post' >"+
                "<span>最大值" +
                "<input type='text' value='"+stress.maxStress+"' name='maxStress' /></span>"+
                "<span>最小值" +
                "<input type='text' value='"+stress.minStress+"' name='minStress' /></span>"+
                "<span>最小时间" +
                "<input type='text' value='"+stress.maxTime+"' name='maxTime' /></span>"+
                "<input type='hidden' value='"+templateId+"' name='templateId' />"+
                "<input type='hidden' value='"+stress.id+"' name='id' />"+
                "<span>最大时间" +
                "<input type='text' value='"+stress.minTime+"' name='minTime' /></span>";
        if (gangya[i].isDepend!=-1){
          tempHTML = tempHTML+"<span> 有同步压力</span>"+
                  "<span>开始同步<input type='text' value='"+stress.startId+"' name='startId'/></span>"+
                  "<span>结束同步<input type='text' value='"+stress.endId+"' name='endId' /></span>"
        }else{
          tempHTML = tempHTML+"<span> <select name='isDepend'>" +
                  "<option value='-1'>无</option>" +
                  "<option value='1'>均管</option>" +
                  "<option value='2'>缸压</option>" +
                  "<option value='3'>均缸</option>" +
                  "</select></span>"+
                  "<span>开始同步<input type='text' value='"+stress.startId+"'name='startId' /></span>"+
                  "<span>结束同步<input type='text' value='"+stress.endId+"'  name='endId' /></span>"
        }
        tempHTML = tempHTML+"<span><button></button></span>" +
                "</form>"
        gangyaid.innerHTML=tempHTML;
        stopBubble(event)
        e('li'+guanya[i].id).onclick = function (event) {
          //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数
          console.log(2)
          stopBubble(event)
        }
        document.onclick = function () {
          lastYaLi = ''
          var temp = "li"+gangya[i].id;
          var gangyaid = document.getElementById(temp);
          gangyaid.innerHTML = lastHtml
          // let temp1 = "gangya"+gangya[i].id
          // let but = document.getElementById(temp1);
          // but.style.display="block"
          document.onclick = null
        }

      }
    }
    for (let  i = 0;i<jungang.length;i++){
      e('jungang' + jungang[i].id).onclick = function (event) {
        lastYaLi = jungang[i];
        var temp = "li"+jungang[i].id;
        var  stress = jungang[i];
        var jungangid = document.getElementById(temp);
        lastGetId = jungangid;
        lastHtml = jungangid.innerHTML;
        var tempHTML = "<span>均缸</span>"+
                "<form action='updateyali' method='post' >"+
                "<span>最大值" +
                "<input type='text' value='"+stress.maxStress+"' name='maxStress' /></span>"+
                "<span>最小值" +
                "<input type='text' value='"+stress.minStress+"' name='minStress' /></span>"+
                "<span>最小时间" +
                "<input type='text' value='"+stress.maxTime+"' name='maxTime' /></span>"+
                "<input type='hidden' value='"+templateId+"' name='templateId' />"+
                "<input type='hidden' value='"+stress.id+"' name='id' />"+
                "<span>最大时间" +
                "<input type='text' value='"+stress.minTime+"' name='minTime' /></span>";
        if (jungang[i].isDepend!=-1){
          tempHTML = tempHTML+"<span> 有同步压力</span>"+
                  "<span>开始同步<input type='text' value='"+stress.startId+"' name='startId'/></span>"+
                  "<span>结束同步<input type='text' value='"+stress.endId+"' name='endId' /></span>"
        }else{
          tempHTML = tempHTML+"<span> <select name='isDepend'>" +
                  "<option value='-1'>无</option>" +
                  "<option value='1'>均管</option>" +
                  "<option value='2'>缸压</option>" +
                  "<option value='3'>均缸</option>" +
                  "</select></span>"+
                  "<span>开始同步<input type='text' value='"+stress.startId+"'name='startId' /></span>"+
                  "<span>结束同步<input type='text' value='"+stress.endId+"'  name='endId' /></span>"
        }
        tempHTML = tempHTML+"<span><button>提交</button></span>" +
                "</form>"
        jungangid.innerHTML=tempHTML;
        stopBubble(event)
        document.onclick = function () {
          lastYaLi = ''
          var temp = "li"+jungang[i].id;
          var jungangid = document.getElementById(temp);
          jungangid.innerHTML = lastHtml
          // let temp1 = "jungang"+jungang[i].id
          // let but = document.getElementById(temp1);
          // but.style.display="block"
          document.onclick = null
        }
      }
    }

    for (let i = 0;i<guanya.length;i++){
      e('li'+guanya[i].id).onclick = function (event) {
        //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数
        console.log(2)
        stopBubble(event)
      }
    }
    for (let i = 0;i<gangya.length;i++){
      e('li'+gangya[i].id).onclick = function (event) {
        //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数
        stopBubble(event)
      }
    }
    for (let i = 0;i<jungang.length;i++){
      e('li'+jungang[i].id).onclick = function (event) {
        //只阻止了向上冒泡，而没有阻止向下捕获，所以点击con的内部对象时，仍然可以执行这个函数
        stopBubble(event)
      }
    }

  </script>
</html>
