<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/quxian.css" />
    <title>Document</title>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="info">
        <span class="left_info">司机</span
        ><span class="right_info">503234</span>
        <span class="left_info">副司机</span
        ><span class="right_info">503234</span>
        <span class="left_info">开车时间</span
        ><span class="right_info">503234</span>

        <span class="left_info">机型</span
        ><span class="right_info">503234</span>
        <span class="left_info">车次</span
        ><span class="right_info">503234</span>
        <span class="left_info">起点站</span
        ><span class="right_info">503234</span>

        <span class="left_info">机车号</span
        ><span class="right_info">503234</span>
        <span class="left_info">交路号</span
        ><span class="right_info">503234</span>
        <span class="left_info">监控装置</span
        ><span class="right_info">503234</span>
        <span class="left_info">计长</span
        ><span class="right_info">503234</span>
        <span class="left_info">辆数</span
        ><span class="right_info">503234</span>
        <span class="left_info">总重</span
        ><span class="right_info">503234</span>

        <span class="left_info">数据版本</span
        ><span class="right_info">503234</span>
        <span class="left_info">监控版本</span
        ><span class="right_info">503234</span>
        <span class="left_info">载重</span
        ><span class="right_info">503234</span>
      </div>
      <div class="xiangdian">
        <div class="file_info">项点分析指向</div>
        <div class="error_wubu">
          <div class="error_td">
            <span>I端</span>
            <span>第一步</span>
            <span>第二步</span>
            <span>第三步</span>
            <span>第四步</span>
            <span>第五步</span>
            <span>第六步</span>
            <span>第七步</span>
            <span>第八步</span>
          </div>
          <div class="error_td">
            <span>II端</span>
            <span>第一步</span>
            <span>第二步</span>
            <span>第三步</span>
            <span>第四步</span>
            <span>第五步</span>
            <span>第六步</span>
            <span>第七步</span>
            <span>第八步</span>
          </div>
        </div>
        <div class="quxian">
          <div class="all_xiangdian">
            <div class="error_td1">
              <span>第1报错</span>
              <span>第2报错</span>
              <span>第3报错</span>
              <span>第4报错</span>
            </div>
            <div class="error_td1">
              <span>第5报错</span>
              <span>第6报错</span>
              <span>第7报错</span>
              <span>第8报错</span>
            </div>
          </div>
          <div class="recorder_quxian">曲线记录</div>
          <div class="recorder_fanhui">返回</div>
        </div>
      </div>
    </div>
    <div class="paint" id="paint" style="width: 100%; height: 500px"></div>
  </body>
  <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('paint'))

    // 指定图表的配置项和数据
    var option = {
      title: {
        text: '全程记录',
      },
      tooltip: {},
      legend: {
        data: ['管压', '均缸压'],
      },
      xAxis: {
        data: [
          '20:56:37',
          '20:56:38',
          '20:56:39',
          '20:56:40',
          '20:56:41',
          '20:56:42',
          '20:56:43',
          '20:56:44',
          '20:56:45',
          '20:56:46',
          '20:56:47',
          '20:56:48',
          '20:56:49',
          '20:56:50',
          '20:56:51',
          '20:56:52',
          '20:56:53',
          '20:56:54',
          '20:56:55',
          '20:56:56',
          '20:56:57',
          '20:56:58',
          '20:56:59',
          '20:57:00',
          '20:57:01',
          '20:57:02',
          '20:57:03',
          '20:57:04',
          '20:57:05',
          '20:57:06',
          '20:57:07',
          '20:57:08',
          '20:57:09',
          '20:57:10',
          '20:57:11',
          '20:57:12',
          '20:57:13',
          '20:57:14',
          '20:57:15',
          '20:57:16',
          '20:57:17',
          '20:57:18',
          '20:57:19',
          '20:57:20',
          '20:57:21',
          '20:57:22',
          '20:57:23',
          '20:57:24',
          '20:57:25',
          '20:57:26',
          '20:57:27',
          '20:57:28',
          '20:57:29',
          '20:57:30',
          '20:57:31',
          '20:57:32',
          '20:57:33',
          '20:57:34',
          '20:57:35',
          '20:57:36',
          '20:57:37',
          '20:57:38',
          '20:57:39',
          '20:57:40',
          '20:57:41',
          '20:57:42',
          '20:57:43',
          '20:57:44',
          '20:57:45',
          '20:57:46',
          '20:57:47',
          '20:57:48',
          '20:57:49',
          '20:57:50',
          '20:57:51',
          '20:57:52',
          '20:57:53',
          '20:57:54',
          '20:57:55',
          '20:57:56',
          '20:57:57',
          '20:57:58',
          '20:57:59',
          '20:58:00',
          '20:58:01',
          '20:58:02',
          '20:58:03',
          '20:58:04',
          '20:58:05',
          '20:58:06',
          '20:58:07',
          '20:58:08',
          '20:58:09',
          '20:58:10',
          '20:58:11',
          '20:58:12',
          '20:58:13',
          '20:58:14',
          '20:58:15',
          '20:58:16',
          '20:58:17',
          '20:58:18',
          '20:58:19',
          '20:58:20',
          '20:58:21',
          '20:58:22',
          '20:58:23',
          '20:58:24',
          '20:58:25',
          '20:58:26',
          '20:58:27',
          '20:58:28',
          '20:58:29',
          '20:58:30',
          '20:58:31',
          '20:58:32',
          '20:58:33',
          '20:58:34',
          '20:58:35',
          '20:58:36',
          '20:58:37',
          '20:58:38',
          '20:58:39',
          '20:58:40',
          '20:58:41',
          '20:58:42',
          '20:58:43',
          '20:58:44',
          '20:58:45',
          '20:58:46',
          '20:58:47',
          '20:58:48',
          '20:58:49',
          '20:58:50',
          '20:58:51',
          '20:58:52',
          '20:58:53',
          '20:58:54',
          '20:58:55',
          '20:58:56',
          '20:58:57',
          '20:58:58',
          '20:58:59',
          '20:59:00',
        ],
      },
      line: {
        itemStyle: {
          normal: {
            // color: 各异,
            label: {
              show: false,
              // position: 默认自适应，水平布局为'top'，垂直布局为'right'，可选为
              //           'inside'|'left'|'right'|'top'|'bottom'
              // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
            },
            lineStyle: {
              width: 2,
              type: 'solid',
              shadowColor: 'rgba(0,0,0,0)', //默认透明
              shadowBlur: 5,
              shadowOffsetX: 3,
              shadowOffsetY: 3,
            },
          },
          emphasis: {
            // color: 各异,
            label: {
              show: false,
              // position: 默认自适应，水平布局为'top'，垂直布局为'right'，可选为
              //           'inside'|'left'|'right'|'top'|'bottom'
              // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
            },
          },
        },
        //smooth : false,
        symbol: 'none', // 拐点图形类型
        symbolSize: 0, // 拐点图形大小
        //symbolRotate : null,  // 拐点图形旋转控制
        showAllSymbol: true, // 标志图形默认只有主轴显示（随主轴标签间隔隐藏策略）
      },

      dataZoom: {
        orient: 'horizontal', // 布局方式，默认为水平布局，可选为：
        // 'horizontal' ¦ 'vertical'
        // x: {number},            // 水平安放位置，默认为根据grid参数适配，可选为：
        // {number}（x坐标，单位px）
        // y: {number},            // 垂直安放位置，默认为根据grid参数适配，可选为：
        // {number}（y坐标，单位px）
        // width: {number},        // 指定宽度，横向布局时默认为根据grid参数适配
        // height: {number},       // 指定高度，纵向布局时默认为根据grid参数适配
        backgroundColor: 'rgba(0,0,0,0)', // 背景颜色
        dataBackgroundColor: '#eee', // 数据背景颜色
        fillerColor: 'rgba(144,197,237,0.2)', // 填充颜色
        handleColor: 'rgba(70,130,180,0.8)', // 手柄颜色
      },
      yAxis: {},
      series: [
        {
          name: '管压',
          type: 'line',
          smooth: false,
          symbol: 'none',
          data: [
            510.0,
            510.0,
            510.0,
            510.0,
            510.0,
            510.0,
            510.0,
            510.0,
            510.0,
            490.0,
            490.0,
            490.0,
            470.0,
            470.0,
            470.0,
            470.0,
            470.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            460.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            450.0,
            430.0,
            430.0,
            430.0,
            410.0,
            410.0,
            380.0,
            380.0,
            380.0,
            380.0,
            370.0,
            370.0,
            370.0,
            370.0,
            370.0,
            370.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            350.0,
            340.0,
            340.0,
            340.0,
            340.0,
            340.0,
            340.0,
            330.0,
            330.0,
            500.0,
            500.0,
            500.0,
            500.0,
            510.0,
            510.0,
            500.0,
            500.0,
            500.0,
            410.0,
            410.0,
            360.0,
            360.0,
            310.0,
            310.0,
            310.0,
            280.0,
            280.0,
            280.0,
          ],
        },
        {
          symbol: 'none',
          name: '均缸压',
          type: 'line',
          smooth: false,
          data: [
            10.0,
            10.0,
            10.0,
            10.0,
            10.0,
            10.0,
            10.0,
            10.0,
            10.0,
            90.0,
            90.0,
            90.0,
            70.0,
            70.0,
            70.0,
            70.0,
            70.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            0.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            60.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            30.0,
            30.0,
            30.0,
            10.0,
            10.0,
            80.0,
            80.0,
            80.0,
            80.0,
            70.0,
            70.0,
            70.0,
            70.0,
            70.0,
            70.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            50.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            40.0,
            30.0,
            30.0,
            100.0,
            100.0,
            100.0,
            100.0,
            10.0,
            10.0,
            100.0,
            100.0,
            100.0,
            10.0,
            10.0,
            60.0,
            60.0,
            10.0,
            10.0,
            10.0,
            80.0,
            80.0,
            80.0,
          ],
        },
      ],
    }
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option)
  </script>
</html>
