<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/quxian.css" />
    <title>莱杰轨道曲线</title>
  <script th:src="@{/js/echarts.js}"></script>
  </head>
  <body>
  <div class="nav">
    <div class="info">
       <span class="left_info">司机</span
       ><span class="right_info">[[${fileInfo.siJiName}]]</span>
      <span class="left_info">副司机</span
      ><span class="right_info">[[${fileInfo.fuSiJiName}]]</span>
      <span class="left_info">开车时间</span
      ><span class="right_info" id="startTime">[[${fileInfo.fileStartTime}]]</span>

      <span class="left_info">机型</span
      ><span class="right_info">[[${fileInfo.jiXing}]]</span>
      <span class="left_info">车次</span
      ><span class="right_info">[[${fileInfo.cheCi}]]</span>
      <span class="left_info">起点站</span
      ><span class="right_info">[[${fileInfo.startStation}]]</span>

      <span class="left_info">机车号</span
      ><span class="right_info">[[${fileInfo.jiCheHao}]]</span>
      <span class="left_info">交路号</span
      ><span class="right_info">[[${fileInfo.jiaoLuHao}]]</span>

      <span class="left_info">计长</span>
      <span class="right_info">[[${fileInfo.jiChang}]]</span>
    </div>
    <div class="xiangdian">
      <div class="file_info">项点分析指向</div>
      <div class="error_wubu">
        <div class="error_td">
          <span>I端</span>
          <span id="xiangdian11" onclick="modefiy_option(1,1)">第一步</span>
          <span  id="xiangdian12"  onclick="modefiy_option(1,2)">第二步</span>
          <span id="xiangdian13"  onclick="modefiy_option(1,3)">第三步</span>
          <span id="xiangdian14"  onclick="modefiy_option(1,4)">第四步</span>
          <span id="xiangdian15"  onclick="modefiy_option(1,5)" >第五步</span>

        </div>
        <div class="error_td">
          <span>II端</span>
          <span id = "xiangdian21" onclick="modefiy_option(2,1)">第一步</span>
          <span id = "xiangdian22"onclick="modefiy_option(2,2)">第二步</span>
          <span id = "xiangdian23"onclick="modefiy_option(2,3)">第三步</span>
          <span id = "xiangdian24"onclick="modefiy_option(2,4)">第四步</span>
          <span id = "xiangdian25"onclick="modefiy_option(2,5)">第五步</span>

        </div>
      </div>
      <div class="quxian">
        <div class="all_xiangdian">
          <div class="error_td1">
            <span>第1报错</span>
            <span>第2报错</span>
            <span>第3报错</span>
            <span>第4报错</span>
          </div>
          <div class="error_td1">
            <span>第5报错</span>
            <span>第6报错</span>
            <span>第7报错</span>
            <span>第8报错</span>
          </div>
        </div>
        <div class="recorder_quxian" onclick="returnquancheng(this.id)" th:id="${fileInfo.id}">全程记录</div>
        <div onclick="returnindex()" class="recorder_fanhui" >返回</div>
      </div>
    </div>
  </div>
    <div
            class="quanpingclick"
            id = "quanping2"
            style="
        height: 300px;
        width: 5%;
        float: left;
        align-items: center;
        line-height: 300px;
        display: flex;
      "
    >
      <span
              class="quanping_span"
              style="
          width: 80%;
          margin: 0 auto;
          height: 100px;
          border: 1px solid #38f;
          line-height: 50px;
          text-align: center;
          font-size: 20px;
        "
              onclick="quanping()"
      >全<br />屏</span
      >
    </div>
    <div
            class="paint"
            id="paint"
            style="width: 95%; height: 300px; float: left"
    ></div>
    <div
            class="quanpingclick1"
            id = "quanping1"
            style="
        height: 300px;
        width: 5%;
        float: left;
        align-items: center;
        line-height: 300px;
        display: flex;
      "
    >
      <span
              class="quanping_span1"
              style="
          width: 80%;
          margin: 0 auto;
          height: 100px;
          border: 1px solid #38f;
          line-height: 50px;
          text-align: center;
          font-size: 20px;
        "
              onclick="quanping1()"
      >全<br />屏</span
      >
    </div>
    <div
            class="paint"
            id="paint1"
            style="width: 95%; height: 300px; float: left"
    ></div>
  </body>
  <script type="text/javascript" th:inline="javascript">
    var fileindo_index_id = [[${fileInfo}]]
    function returnindex(){
      window.location="../returnIndex?id=" +fileindo_index_id.id;
    }
    function returnquancheng(id) {
      window.location="../quancheng?id="+id;
    }
    var startTime= document.getElementById("startTime")
    let time = startTime.innerText
    if (time != null && time.length != 0) {
      var d = new Date(time + ' GMT+8')


      let hours = d.getHours() <= 9 ? '0' + d.getHours() : d.getHours()
      console.log(d.getHours())
      let min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes()
      let sec = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds()
      let times =
              hours +
              ':' +
              min +
              ':' +
              sec
      startTime.innerText = times
    }
    // 基于准备好的dom，初始化echarts实例
    var myPaint = document.getElementById('paint')
    var myPaint1 = document.getElementById('paint1')
    var myChart = echarts.init(myPaint)
    var myChart1 = echarts.init(myPaint1)
    var times =  [[${times}]];
    var guanya = [[${guanya}]]
    var gangya=[[${gangya}]]
    var speed=[[${speed}]]
    var jungang1 = [[${jungang1}]]
    var zhuanSuDianLiu=[[${zhuanSuDianLiu}]]
    var restrictSpeed=[[${restrictSpeed}]]
    var quancheng = [[${quanCheng}]]
    // 指定图表的配置项和数据
    var option = {

      title: {
        text: '全程记录',
      },
      tooltip: {},
      legend: {
        data: [
          {
            name: '管压',
            icon: 'rectangle',
          },
          {
            name: '缸压',
            icon: 'rectangle',
          },
          {
            name: '均缸压',
            icon: 'rectangle',
          },
        ],
      },
      xAxis: {
        data: times,
      },
      line: {
        itemStyle: {
          normal: {
            // color: 各异,
            label: {
              show: false,
              // position: 默认自适应，水平布局为'top'，垂直布局为'right'，可选为
              //           'inside'|'left'|'right'|'top'|'bottom'
              // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
            },
            lineStyle: {
              width: 2,
              type: 'solid',
              shadowColor: 'rgba(0,0,0,0)', //默认透明
              shadowBlur: 5,
              shadowOffsetX: 3,
              shadowOffsetY: 3,
            },
          },
          emphasis: {
            // color: 各异,
            label: {
              show: false,
              // position: 默认自适应，水平布局为'top'，垂直布局为'right'，可选为
              //           'inside'|'left'|'right'|'top'|'bottom'
              // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
            },
          },
        },
        //smooth : false,
        symbol: 'none', // 拐点图形类型
        symbolSize: 0, // 拐点图形大小
        //symbolRotate : null,  // 拐点图形旋转控制
        showAllSymbol: true, // 标志图形默认只有主轴显示（随主轴标签间隔隐藏策略）
      },

      dataZoom: {
        orient: 'horizontal', // 布局方式，默认为水平布局，可选为：
        // 'horizontal' ¦ 'vertical'
        // x: {number},            // 水平安放位置，默认为根据grid参数适配，可选为：
        // {number}（x坐标，单位px）
        // y: {number},            // 垂直安放位置，默认为根据grid参数适配，可选为：
        // {number}（y坐标，单位px）
        // width: {number},        // 指定宽度，横向布局时默认为根据grid参数适配
        // height: {number},       // 指定高度，纵向布局时默认为根据grid参数适配
        backgroundColor: 'rgba(0,0,0,0)', // 背景颜色
        dataBackgroundColor: '#eeeeee', // 数据背景颜色
        fillerColor: 'rgba(144,197,237,0.2)', // 填充颜色
        handleColor: 'rgba(70,130,180,0.8)', // 手柄颜色
      },
      yAxis: {},
      series: [
        {
          name: '管压',
          type: 'line',
          smooth: false,
          symbol: 'none',
          data: guanya,
        },
        {
          symbol: 'none',
          name: '缸压',
          type: 'line',
          smooth: false,
          data: gangya,
        },
        {
          symbol: 'none',
          name: '均缸压',
          type: 'line',
          smooth: false,
          data: jungang1,
        },
      ],
    }
    var option1 = {
      title: {
        text: '全程记录',
      },
      color:['blue','red','gray'],
      tooltip: {},
      legend: {
        data: [
          {
            name: '速度',
            icon: 'rectangle',

          },
          {
            name: '限速',
            icon: 'rectangle',

          },
          {
            name: '转速电流',
            icon: 'rectangle',

          },
        ],

      },
      xAxis: {
        data: times,
      },
      line: {
        itemStyle: {
          normal: {
            // color: 各异,
            label: {
              show: false,
              // position: 默认自适应，水平布局为'top'，垂直布局为'right'，可选为
              //           'inside'|'left'|'right'|'top'|'bottom'
              // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
            },
            lineStyle: {
              width: 2,
              type: 'solid',
              shadowColor: 'rgba(0,0,0,0)', //默认透明
              shadowBlur: 5,
              shadowOffsetX: 3,
              shadowOffsetY: 3,
            },
          },
          emphasis: {
            // color: 各异,
            label: {
              show: false,
              // position: 默认自适应，水平布局为'top'，垂直布局为'right'，可选为
              //           'inside'|'left'|'right'|'top'|'bottom'
              // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
            },
          },
        },
        //smooth : false,
        symbol: 'none', // 拐点图形类型
        symbolSize: 0, // 拐点图形大小
        //symbolRotate : null,  // 拐点图形旋转控制
        showAllSymbol: true, // 标志图形默认只有主轴显示（随主轴标签间隔隐藏策略）
      },

      dataZoom: {
        orient: 'horizontal', // 布局方式，默认为水平布局，可选为：
        // 'horizontal' ¦ 'vertical'
        // x: {number},            // 水平安放位置，默认为根据grid参数适配，可选为：
        // {number}（x坐标，单位px）
        // y: {number},            // 垂直安放位置，默认为根据grid参数适配，可选为：
        // {number}（y坐标，单位px）
        // width: {number},        // 指定宽度，横向布局时默认为根据grid参数适配
        // height: {number},       // 指定高度，纵向布局时默认为根据grid参数适配
        backgroundColor: 'rgba(0,0,0,0)', // 背景颜色
        dataBackgroundColor: '#eee', // 数据背景颜色
        fillerColor: 'rgba(144,197,237,0.2)', // 填充颜色
        handleColor: 'rgba(70,130,180,0.8)', // 手柄颜色
      },
      yAxis: {},
      series: [
        {
          name: '速度',
          type: 'line',
          smooth: false,
          symbol: 'none',
          data: speed,
          itemStyle : {
            normal : {
              lineStyle:{
                color:'blue'
              }
            }
          },
        },
        {
          symbol: 'none',
          name: '限速',
          type: 'line',
          smooth: false,
          data: restrictSpeed,
          itemStyle : {
            normal : {
              lineStyle:{
                color:'red'
              }
            }
          },
        },
        {
          symbol: 'none',
          name: '转速电流',
          type: 'line',
          smooth: false,
          data: zhuanSuDianLiu,
          itemStyle : {
            normal : {
              lineStyle:{
                color:'gray'
              }
            }
          },
        },
      ],
    }
    var flag_quanping =1
    var flag_quanping1 =1
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option)
    myChart1.setOption(option1)
    var quanping_click = document.getElementsByClassName("quanpingclick")[0]
    var quanping_click1 = document.getElementsByClassName("quanpingclick1")[0]
    var quanping_span = document.getElementsByClassName("quanping_span")[0]
    var quanping_span1 = document.getElementsByClassName("quanping_span1")[0]
    var last_s1 = ''
    var last_s2 = ''

    function modefiy_option(duankou,s) {
      var color_modefiy = document.getElementById('xiangdian' + duankou + s)
      color_modefiy.style.backgroundColor = '#ADADAD'
      for (var i = 1; i <= 5; i++) {
        for (var j = 1; j <= 2; j++) {
          if (duankou == j) {
            if (i != s) {
              var color_last = document.getElementById('xiangdian' + j + i)
              color_last.style.backgroundColor = '#E0E0E0'
            }

          } else {
            var color_m = document.getElementById('xiangdian' + j + i)
            color_m.style.backgroundColor = '#E0E0E0'
          }
        }
      }



      var finalTimes =[[${finalTimes}]]
      if (duankou==1){
        if (s==1){
          var step = [[${one_times}]]
          var step_int = [[${one}]]
          console.log(step)
          console.log(step_int)
        }else if(s==2){
          var step = [[${two_times}]]
          var step_int = [[${two}]]
        }else if(s==3){
          var step =  [[${three_times}]]
          var step_int = [[${three}]]
        }else if(s==4){
          var step =[[${four_times}]]
          var step_int = [[${four}]]
        }else {
          var step = [[${five_times}]]
          var step_int = [[${five}]]
        }
      }else {
        if (s==1){
          var step = [[${shaung_one_times}]]
          var step_int = [[${shuang_one}]]
          console.log(step)
          console.log(step_int)
        }else if(s==2){
          var step = [[${shuang_two_times}]]
          var step_int = [[${shuang_two}]]
        }else if(s==3){
          var step =  [[${shuang_three_times}]]
          var step_int = [[${shuang_three}]]
        }else if(s==4){
          var step =[[${shuang_four_times}]]
          var step_int = [[${shuang_four}]]
        }else {
          var step = [[${shuang_five_times}]]
          var step_int = [[${shuang_five}]]
        }
      }

      console.log(step_int.startXiangDian)

      if (step==null){
        alert("并没有此步闸")
      }else {
        myChart.setOption(
                {
                  series:[
                    {
                      name: '管压',
                      type: 'line',
                      smooth: false,
                      symbol: 'none',
                      data: guanya,
                      markLine: {
                        symbol: 'none',

                        itemStyle: {
                          normal: {
                            color: 'red',
                            lineStyle:{
                              width:3,//设置线条粗细
                              type: 'solid'
                            }
                          }
                        },

                        data: [
                          [
                            {
                              coord: [step, 0],
                            },
                            {
                              coord: [step, 600],
                            },
                          ],
                        ],
                      } ,

                    },
                    {
                      symbol: 'none',
                      name: '缸压',
                      type: 'line',
                      smooth: false,
                      data: gangya,
                    },
                    {
                      symbol: 'none',
                      name: '均缸压',
                      type: 'line',
                      smooth: false,
                      data: jungang1,
                    },
                  ],

                }
        )
        myChart.setOption(option);
        var start1 = (step_int.startXiangDian/finalTimes)*100
        if (start1<10){
          start1 = 0
          var end1 = start1+30
        }else {
          start1=start1-10
          var end1 = start1+20
        }

        console.log(start1)
        console.log(end1)
        // option.dataZoom[0].start=start1;
        // option.dataZoom[0].end=end1;
        myChart.setOption({
          dataZoom: {
            orient: 'horizontal', // 布局方式，默认为水平布局，可选为：
            // 'horizontal' ¦ 'vertical'
            // x: {number},            // 水平安放位置，默认为根据grid参数适配，可选为：
            // {number}（x坐标，单位px）
            // y: {number},            // 垂直安放位置，默认为根据grid参数适配，可选为：
            // {number}（y坐标，单位px）
            // width: {number},        // 指定宽度，横向布局时默认为根据grid参数适配
            // height: {number},       // 指定高度，纵向布局时默认为根据grid参数适配
            backgroundColor: 'rgba(0,0,0,0)', // 背景颜色
            dataBackgroundColor: '#eee', // 数据背景颜色
            fillerColor: 'rgba(144,197,237,0.2)', // 填充颜色
            handleColor: 'rgba(70,130,180,0.8)', // 手柄颜色
            start: start1,
            end: end1,
          },
        })
        myChart.setOption(option);

      }

    }
    function quanping() {
      if (flag_quanping == 1) {
        myChart.getDom().style.height = '600px'
        myChart.resize()
        myChart1.getDom().style.height = '0'
        myChart1.resize()
        quanping_click.style.height = '600px'
        quanping_click1.style.display = 'none'

        flag_quanping = 0
      } else {
        myChart.getDom().style.height = '300px'
        myChart.resize()
        myChart1.getDom().style.height = '300px'
        myChart1.resize()
        quanping_click.style.height = '300px'
        quanping_click1.style.display = 'flex'

        flag_quanping = 1
      }
    }
    function quanping1() {
      if (flag_quanping1 == 1) {
        myChart1.getDom().style.height = '600px'
        myChart1.resize()
        myChart.getDom().style.height = '0'
        myChart.resize()
        quanping_click.style.display = 'none'
        quanping_click1.style.height = '600px'


        flag_quanping1 = 0
      } else {
        myChart1.getDom().style.height = '300px'
        myChart1.resize()
        myChart.getDom().style.height = '300px'
        myChart.resize()
        quanping_click1.style.height = '300px'
        quanping_click.style.display = 'flex'

        flag_quanping1 = 1
      }
    }
  </script>
</html>
