<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxl.trainerror.mapper.StepSelectMapper">

    <!--    public Account getAcct(Long id); -->
<sql id="stepSelectKey">
    <trim suffixOverrides=",">

        <if test="templateId!=null">
            template_id,
        </if>

        <if test="stressName!=null">
            stress_name,
        </if>
        <if test="maxStress!=null">
            max_stress,
        </if>
        <if test="minStress!=null">
            min_stress,
        </if>
        <if test="maxTime!=null">
            max_time,
        </if>
        <if test="minTime!=null">
            min_time,
        </if>
        <if test="guanSort!=null and guanSort != ''">
            guan_sort,
        </if>
        <if test="isEnd!=null">
            is_end,
        </if>
        <if test="stateEnter!=null">
            state_enter,
        </if>
        <if test="stateOut!=null">
            state_out,
        </if>
        <if test="isStable!=null">
            is_stable,
        </if>
        <if test="priorNumber!=null">
            prior_number,
        </if>
        <if test="isDepend!=null">
            is_depend,
        </if>
        <if test="startId!=null">
            start_id,
        </if>
        <if test="endId!=null">
            end_id,
        </if>
        <if test="sortNumber!=null">
            sort_number,
        </if>
    </trim>
</sql>

    <sql id="stepSelectValues">
        <trim suffixOverrides=",">

            <if test="templateId!=null">
                #{templateId},
            </if>

            <if test="stressName!=null">
                #{stressName},
            </if>
            <if test="maxStress!=null">
                #{maxStress},
            </if>
            <if test="minStress!=null">
                #{minStress},
            </if>
            <if test="maxTime!=null">
                #{maxTime},
            </if>
            <if test="minTime!=null">
                #{minTime},
            </if>
            <if test="guanSort!=null and guanSort != ''">
                #{guanSort},
            </if>
            <if test="isEnd!=null">
                #{isEnd},
            </if>
            <if test="stateEnter!=null">
                #{stateEnter},
            </if>
            <if test="stateOut!=null">
                #{stateOut},
            </if>
            <if test="isStable!=null">
                #{isStable},
            </if>
            <if test="priorNumber!=null">
                #{priorNumber},
            </if>
            <if test="isDepend!=null">
                #{isDepend},
            </if>
            <if test="startId!=null">
                #{startId},
            </if>
            <if test="endId!=null">
                #{endId},
            </if>
            <if test="sortNumber!=null">
                #{sortNumber},
            </if>
        </trim>
    </sql>
    <sql id="updateStepSelectKey">
        <trim suffixOverrides=",">

            <if test="templateId!=null">
                template_id = #{templateId},
            </if>

            <if test="stressName!=null">
                stress_name = #{stressName},
            </if>
            <if test="maxStress!=null">
                max_stress= #{maxStress},
            </if>
            <if test="minStress!=null">
                min_stress= #{minStress},
            </if>
            <if test="maxTime!=null">
                max_time= #{maxTime},
            </if>
            <if test="minTime!=null">
                min_time= #{minTime},
            </if>
            <if test="guanSort!=null and guanSort != ''">
                guan_sort= #{guanSort},
            </if>
            <if test="isEnd!=null">
                is_end= #{isEnd},
            </if>
            <if test="stateEnter!=null">
                state_enter= #{stateEnter},
            </if>
            <if test="stateOut!=null">
                state_out= #{stateOut},
            </if>
            <if test="isStable!=null">
                is_stable= #{isStable},
            </if>
            <if test="priorNumber!=null">
                prior_number= #{priorNumber},
            </if>
            <if test="isDepend!=null">
                is_depend= #{isDepend},
            </if>
            <if test="startId!=null">
                start_id= #{startId},
            </if>
            <if test="endId!=null">
                end_id= #{endId},
            </if>
            <if test="sortNumber!=null">
                sort_number= #{sortNumber},
            </if>
        </trim>
    </sql>
    <insert id="insertStepSelect" useGeneratedKeys="true" keyProperty="id">
        insert into step_select (<include refid="stepSelectKey" />)
        values (<include refid="stepSelectValues" />)
    </insert>
     <update id="updateStepSelectByID">
         update step_select
                set
                <if test="maxStress!=null">
                    max_stress= #{maxStress},
                </if>
                <if test="stressName!=null and stressName != '' ">
                    stress_name = #{stressName},
                </if>
                <if test="minStress!=null">
                    min_stress= #{minStress},
                </if>
                <if test="maxTime!=null">
                    max_time= #{maxTime},
                </if>
                <if test="minTime!=null">
                    min_time= #{minTime},
                </if>
                <if test="guanSort!=null and guanSort != ''">
                    guan_sort= #{guanSort},
                </if>
                <if test="isEnd!=null">
                    is_end= #{isEnd},
                </if>
                <if test="stateEnter!=null">
                    state_enter= #{stateEnter},
                </if>
                <if test="stateOut!=null">
                    state_out= #{stateOut},
                </if>
                <if test="isStable!=null">
                    is_stable= #{isStable},
                </if>
                <if test="priorNumber!=null">
                    prior_number= #{priorNumber},
                </if>
                <if test="isDepend!=null">
                    is_depend= #{isDepend},
                </if>
                <if test="startId!=null">
                    start_id= #{startId},
                </if>
                <if test="endId!=null">
                    end_id= #{endId},
                </if>
                <if test="sortNumber!=null">
                    sort_number= #{sortNumber},
                </if>

                id = #{id} where id = #{id} and template_id = #{templateId}
     </update>
</mapper>