<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxl.trainerror.mapper.StepAnalysisMapper">
    <update id="updateAnyStep" parameterType="com.gxl.trainerror.mapper.StepAnalysisMapper" >
        update  step_analysis set
        <if test="oneStep!=null ">
            one_step =#{oneStep},
        </if>
        <if test="twoStep!=null ">
            two_step =#{twoStep},
        </if>
        <if test="threeStep!=null ">
            three_step =#{threeStep},
        </if>
        <if test="fourStep!=null ">
            four_step =#{fourStep},
        </if>
        <if test="fiveStep!=null ">
            five_step =#{fiveStep},
        </if>
        <if test="sixStep!=null ">
            six_step =#{sixStep},
        </if>
        <if test="sevenStep!=null ">
            seven_step =#{sevenStep},
        </if>
        <if test="eightStep!=null ">
            eight_step =#{eightStep},
        </if>
        <if test="nineStep!=null ">
            nine_step =#{nineStep},
        </if>
        <if test="shuangOneStep!=null ">
            shuang_one_step =#{shuangOneStep},
        </if>
        <if test="shuangTwoStep!=null ">
            shuang_two_step =#{shuangTwoStep},
        </if>
        <if test="shuangThreeStep!=null ">
            shuang_three_step =#{shuangThreeStep},
        </if>
        <if test="shuangFourStep!=null ">
            shuang_four_step =#{shuangFourStep},
        </if>
        <if test="shuangFiveStep!=null ">
            shuang_five_step =#{shuangFiveStep},
        </if>
        <if test="shuangSixStep!=null ">
            shuang_six_step =#{shuangSixStep},
        </if>
        <if test="shuangSevenStep!=null ">
            shuang_seven_step =#{shuangSevenStep},
        </if>
        <if test="shuangEightStep!=null ">
            shuang_eight_step =#{shuangEightStep},
        </if>
        <if test="shuangNineStep!=null ">
            shuang_nine_step =#{shuangNineStep},
        </if>

        id = #{id}
        where id =#{id}
    </update>

</mapper>